/* ============= General classes  ============= */
.navbar-oxxo {
  width: 100%;
  margin-top: 0;
  background: #666666;
  border: none;
}
.navbar-oxxo ul {
  margin: 0 auto;
}
.navbar-oxxo ul li a {
  color: #fff;
}
.navbar-oxxo ul.drop-menu {
  margin-top: -2px;
}
/* ===========================@media=========================== */
/* ================Portrait phones and smaller================ */
@media (min-width: 320px) and (max-width: 479px) {
  /* Main menu */
  header .navbar-wrapper .container-fluid nav.navbar {
    margin-bottom: 0;
  }
  header .main-menu ul li {
    display: block;
  }
  header .row#row-navbar,
  .about-us-menu .row#row-navbar-au {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  header .row#row-navbar .main-menu,
  .about-us-menu .row#row-navbar-au .main-menu {
    width: 100%;
    margin-top: 0;
    background: #666666;
    border: none;
  }
  header .row#row-navbar .main-menu ul,
  .about-us-menu .row#row-navbar-au .main-menu ul {
    margin: 0 auto;
  }
  header .row#row-navbar .main-menu ul li a,
  .about-us-menu .row#row-navbar-au .main-menu ul li a {
    color: #fff;
  }
  header .row#row-navbar .main-menu ul.drop-menu,
  .about-us-menu .row#row-navbar-au .main-menu ul.drop-menu {
    margin-top: -2px;
  }
  /* Carousel */
  .arrow {
    height: 30px;
  }
  #main-carousel .carousel-inner .main-caption h1 {
    font-size: 1.62em;
    margin-top: 0px;
  }
  #main-carousel .carousel-inner .main-caption p {
    margin: 0;
    font-size: .7em;
  }
  #main-carousel .carousel-inner .main-caption .carousel-menu li:not([class="first-li-cm"]) {
    margin-left: 10px;
  }
  #main-carousel .carousel-inner .main-caption .carousel-menu li a {
    padding: 1px 2px;
    font-size: 0.875em;
  }
  #main-carousel .carousel-inner .main-caption .carousel-menudown a,
  #main-carousel .carousel-inner .main-caption .carousel-menudown span {
    font-size: .8em;
  }
  #main-carousel .carousel-inner .main-caption a#last-menudown {
    padding: 1px 2px;
    font-size: 0.875em;
  }
  #main-carousel a.carousel-control {
    height: 20px;
    width: 20px;
  }
  #main-carousel a.carousel-control[data-slide="prev"] {
    left: 5px;
  }
  #main-carousel a.carousel-control[data-slide="prev"] img {
    left: 0;
  }
  #main-carousel a.carousel-control[data-slide="next"] {
    right: 5px;
  }
  #main-carousel a.carousel-control[data-slide="next"] img {
    right: 0;
  }
  /* About us */
  section.about-us .caption-h h1 {
    margin-top: 35px;
  }
  section.about-us .third-row {
    margin-top: 20px;
  }
  section.about-us .third-row .what-is-oxxo h2 {
    display: block;
    margin-top: 15px;
  }
  section.about-us .third-row .what-is-oxxo .button-au {
    font-size: 10px;
    width: 129px;
    height: 40px;
    margin-top: 10px;
    margin-right: 15px;
  }
  section.about-us .third-row .what-is-oxxo .button-au:last-child {
    margin-right: 0;
  }
  /* Amazing */
  section.amazing {
    margin-top: 50px;
  }
  section.amazing p.amazing-lorem {
    margin-bottom: 60px;
  }
  section.amazing .amazing-content h2 {
    margin-bottom: 10px;
  }
  section.amazing .amazing-content p,
  section.amazing .amazing-content:last-child p {
    margin-bottom: 40px;
  }
  section.amazing .amazing-content .last-div-ac p {
    margin-bottom: 0;
  }
  /* Buy Oxxo now! */
  section.buy-oxxo-now button.button-buy {
    font-size: 10px;
    width: 129px;
    height: 40px;
    margin-top: 10px;
    margin-right: 5px;
  }
  section.buy-oxxo-now button.button-buy:first-of-type {
    margin-right: auto;
  }
  /* Responsive. Powerful */
  section.powerful .powerful-lorem {
    margin-bottom: 45px;
  }
  section.powerful .powerful-content img {
    height: 238px;
    width: 277.5px;
  }
  section.powerful .powerful-logo {
    height: 50px;
    width: 50px;
  }
  section.powerful .powerful-logo i.fa {
    font-size: 1.2em;
  }
  /* Footer */
  footer .container .row .footer-content .latest-text h3 {
    margin-top: 10px;
  }
}
/* =============Landscape phones and portrait tablets============= */
@media (min-width: 480px) and (max-width: 629px) {
  header .main-menu ul li {
    display: block;
  }
  /* Main menu */
  header .row#row-navbar,
  .about-us-menu .row#row-navbar-au {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  header .row#row-navbar .main-menu,
  .about-us-menu .row#row-navbar-au .main-menu {
    width: 100%;
    margin-top: 0;
    background: #666666;
    border: none;
  }
  header .row#row-navbar .main-menu ul,
  .about-us-menu .row#row-navbar-au .main-menu ul {
    margin: 0 auto;
  }
  header .row#row-navbar .main-menu ul li a,
  .about-us-menu .row#row-navbar-au .main-menu ul li a {
    color: #fff;
  }
  header .row#row-navbar .main-menu ul.drop-menu,
  .about-us-menu .row#row-navbar-au .main-menu ul.drop-menu {
    margin-top: -2px;
  }
  /* Carousel */
  .arrow {
    height: 50px;
  }
  #main-carousel .carousel-inner .main-caption h1 {
    font-size: 2em;
    margin-top: 30px;
  }
  #main-carousel .carousel-inner .main-caption p {
    margin-top: 10px;
    font-size: 1em;
  }
  #main-carousel .carousel-inner .main-caption .carousel-menu li a,
  #main-carousel .carousel-inner .main-caption a#last-menudown {
    padding: 2px 5px;
    font-size: 0.83em;
  }
  #main-carousel .carousel-inner .main-caption .carousel-menudown a {
    font-size: 1em;
  }
  #main-carousel .carousel-control[data-slide="prev"] {
    left: 10px;
  }
  #main-carousel .carousel-control[data-slide="prev"] img {
    left: 10px;
  }
  #main-carousel .carousel-control[data-slide="next"] {
    right: 10px;
  }
  #main-carousel .carousel-control[data-slide="next"] img {
    right: 10px;
  }
  /* About us */
  section.about-us .caption-h h1 {
    margin-top: 50px;
  }
  section.about-us .third-row {
    margin-top: 25px;
  }
  section.about-us .third-row .what-is-oxxo h2 {
    display: block;
    margin-top: 15px;
  }
  /* Amazing */
  section.amazing {
    margin-top: 100px;
  }
  section.amazing p.amazing-lorem {
    margin-bottom: 70px;
  }
  section.amazing .amazing-content p,
  section.amazing .amazing-content:last-child p {
    margin-bottom: 40px;
  }
  section.amazing .amazing-content .last-div-ac p {
    margin-bottom: 0;
  }
  /* See our work */
  .see-our-work .work .work-img div.thumbnail {
    transform: translateX(-50%);
    left: 50%;
    top: 0;
  }
  /* Responsive. Powerful */
  section.powerful .powerful-content img {
    height: 357px;
    width: 416.25px;
  }
  section.powerful .powerful-logo {
    height: 56px;
    width: 56px;
  }
  /* Footer */
  footer .container .row .footer-content .latest-text h3 {
    margin-top: 10px;
  }
}
/* =============Landscape phones and portrait tablets============= */
@media (min-width: 630px) and (max-width: 767px) {
  header .main-menu ul li {
    display: block;
  }
  /* Main menu */
  header .row#row-navbar,
  .about-us-menu .row#row-navbar-au {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  header .row#row-navbar .main-menu,
  .about-us-menu .row#row-navbar-au .main-menu {
    width: 100%;
    margin-top: 0;
    background: #666666;
    border: none;
  }
  header .row#row-navbar .main-menu ul,
  .about-us-menu .row#row-navbar-au .main-menu ul {
    margin: 0 auto;
  }
  header .row#row-navbar .main-menu ul li a,
  .about-us-menu .row#row-navbar-au .main-menu ul li a {
    color: #fff;
  }
  header .row#row-navbar .main-menu ul.drop-menu,
  .about-us-menu .row#row-navbar-au .main-menu ul.drop-menu {
    margin-top: -2px;
  }
  /* Carousel */
  .arrow {
    height: 50px;
  }
  div#main-carousel .carousel-inner .main-caption h1 {
    font-size: 3.5em;
    margin-top: 10px;
  }
  div#main-carousel .carousel-inner .main-caption p {
    margin-top: 20px;
    font-size: 1.1em;
  }
  div#main-carousel .carousel-inner .main-caption .carousel-menu li a,
  div#main-carousel .carousel-inner .main-caption a#last-menudown {
    padding: 5px 10px;
    font-size: 1.25em;
  }
  div#main-carousel .carousel-inner .main-caption .carousel-menudown a {
    font-size: 1.1em;
  }
  /* About us */
  section.about-us .caption-h h1 {
    margin-top: 80px;
  }
  section.about-us .third-row {
    margin-top: 50px;
  }
  section.about-us .third-row .what-is-oxxo h2 {
    display: block;
    margin-top: 15px;
  }
  /* Amazing */
  section.amazing {
    margin-top: 100px;
  }
  section.amazing .amazing-content p,
  section.amazing .amazing-content:last-child p {
    margin-bottom: 45px;
  }
  section.amazing .amazing-content .last-div-ac p {
    margin-bottom: 0;
  }
  /* See our work */
  .see-our-work .work .work-img div.thumbnail {
    transform: translateX(-50%);
    left: 50%;
    top: 0;
  }
  /* Footer */
  footer .container .row .footer-content .latest-text h3 {
    margin-top: 10px;
  }
}
/* =============Landscape phones and portrait tablets============= */
@media (min-width: 768px) and (max-width: 849px) {
  /* Main menu */
  header #row-navbar .main-menu ul:first-of-type li,
  .about-us-menu #row-navbar-au .main-menu ul:first-of-type li {
    margin-right: 0;
  }
  header #row-navbar .main-menu ul:last-of-type li,
  .about-us-menu #row-navbar-au .main-menu ul:first-of-type li {
    margin-left: 0;
  }
  header #row-navbar .main-menu ul li a,
  .about-us-menu #row-navbar-au .main-menu ul li a {
    padding: 13px;
  }
  /* Carousel */
  .arrow {
    height: 50px;
  }
  #main-carousel .carousel-inner .main-caption h1 {
    font-size: 3.6em;
    margin-top: 60px;
  }
  #main-carousel .carousel-inner .main-caption p {
    margin-top: 40px;
    font-size: 1.1em;
  }
  #main-carousel .carousel-inner .main-caption .carousel-menu li a,
  #main-carousel .carousel-inner .main-caption a#last-menudown {
    padding: 5px 10px;
    font-size: 1.25em;
  }
  #main-carousel .carousel-inner .main-caption .carousel-menudown a {
    font-size: 1.1em;
  }
  /* About us */
  .about-us .third-row .what-is-oxxo h2 {
    display: block;
    margin-top: 15px;
  }
  /* Amazing */
  section.amazing {
    margin-top: 100px;
  }
  section.amazing .amazing-content p,
  section.amazing .amazing-content:last-child p {
    margin-bottom: 50px;
  }
  section.amazing .amazing-content .last-div-ac p {
    margin-bottom: 0;
  }
  /* See our work */
  .see-our-work .work .work-img div.thumbnail {
    transform: translateX(-50%);
    left: 50%;
    top: 0;
  }
  /* Responsive. Powerful */
  /* Footer */
  footer .container .row .footer-content .latest-text h3 {
    margin-top: 10px;
  }
}
/* =============Landscape phones and portrait tablets============= */
@media (min-width: 850px) and (max-width: 991px) {
  /* Main menu */
  header #row-navbar .main-menu ul:first-of-type li,
  .about-us-menu #row-navbar-au .main-menu ul:first-of-type li {
    margin-right: 0;
  }
  header #row-navbar .main-menu ul:last-of-type li,
  .about-us-menu #row-navbar-au .main-menu ul:first-of-type li {
    margin-left: 0;
  }
  header #row-navbar .main-menu ul li a,
  .about-us-menu #row-navbar-au .main-menu ul li a {
    padding: 13px;
  }
  /* Carousel */
  .arrow {
    height: 50px;
  }
  #main-carousel .carousel-inner .main-caption h1 {
    font-size: 3.8em;
    margin-top: 60px;
  }
  #main-carousel .carousel-inner .main-caption p {
    margin-top: 40px;
    font-size: 1.2em;
  }
  #main-carousel .carousel-inner .main-caption .carousel-menu li a,
  #main-carousel .carousel-inner .main-caption a#last-menudown {
    padding: 5px 10px;
    font-size: 1.3em;
  }
  #main-carousel .carousel-inner .main-caption .carousel-menudown a {
    font-size: 1.2em;
  }
  /* About us */
  .about-us .third-row .what-is-oxxo h2 {
    display: block;
    margin-top: 15px;
  }
  /* Amazing */
  section.amazing .amazing-content p,
  section.amazing .amazing-content:last-child p {
    margin-bottom: 60px;
  }
  section.amazing .amazing-content .last-div-ac p {
    margin-bottom: 0;
  }
  /* See our work */
  .see-our-work .work .work-img div.thumbnail {
    transform: translateX(-50%);
    left: 50%;
    top: 0;
  }
  /* Responsive. Powerful */
  /* Footer */
  footer .container .row .footer-content .latest-text h3 {
    margin-top: 10px;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Main menu */
  header #row-navbar .main-menu ul:first-of-type li,
  .about-us-menu #row-navbar-au .main-menu ul:first-of-type li {
    margin-right: 0;
  }
  header #row-navbar .main-menu ul:last-of-type li,
  .about-us-menu #row-navbar-au .main-menu ul:first-of-type li {
    margin-left: 0;
  }
  /* About us */
  .about-us .third-row .what-is-oxxo .silver-hr {
    width: 37%;
  }
  /* Amazing */
  section.amazing {
    margin-top: 70px;
  }
  /* Responsive. Powerful */
  section.powerful .powerful-content img {
    height: 380.8px;
    width: 444px;
    margin-bottom: 0;
  }
  section.powerful .powerful-blocks:not(.last-block) {
    margin-bottom: 20px;
  }
  section.powerful .powerful-logo {
    height: 56px;
    width: 56px;
  }
}
/* ==================Large desktops and laptops================== */
@media (min-width: 1200px) {
  /* Responsive. Powerful */
  section.powerful .powerful-content img {
    margin-bottom: 0;
  }
}
