body {
    font-family: 'microsoft yahei';
    margin: 0;
    padding: 0;
    min-width: 1190px;
    background-color: #f5f5f5
}
.patch-img {
    /*background: url(/assets/img/patch/patch.c5ebd732.png)*/
}
#ade-header {
    width: 100%;
    margin: 0 auto;
    background-color: #fff
}
.ade-header-patch {
    width: 1190px;
    height: 100%;
    margin: 0 auto
}
.ade-header-patch-logo {
    display: block;
    float: left;
    width: 175px;
    height: 45px;
    /*background: url(/assets/img/ade_logo.a9f34426.png) no-repeat;*/
    margin-top: 34px
}
.ade-header-patch-back {
    display: block;
    float: right;
    width: 17px;
    height: 17px;
    /*background: url(/assets/img/back_index.4ef97334.png) no-repeat;*/
    margin-top: 49px;
    cursor: pointer
}
.patch-main {
    margin: 0 auto;
}
input {
    padding-left: 5px
}
.tip-mask {
    z-index: 1000
}
.patch-banner {
    width: 100%;
    height: 300px;
    /*background: #f2d1d1;*/
    /*background: url(/assets/img/patch/patch_banner.e9454a40.jpg);*/
    margin: 0 auto
}
.patch-apply-title {
    color: #fffefe;
    font-size: 36px;
    font-weight: 700;
    margin: 0 auto;
    position: relative;
    width: 813px;
    top: 58px;
    text-align: center
}
.patch-from {
    width: 813px;
    position: relative;
    border: 1px solid #f0f0f0;
    box-shadow: 0 5px 5px #f6f6f6;
    margin: 0 auto;
    z-index: 100;
    top: -179px;
    background: #fff
}
.patch-promote-detail {
    margin: 0 29px;
    font-size: 14px;
    color: #4c4c4c
}
.patch-promote-title {
    height: 60px;
    line-height: 60px;
    margin-top: 18px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    color: #4c4c4c;
    font-weight: 700
}
.patch-title-style {
    display: block;
    float: left;
    width: 6px;
    height: 20px;
    border-radius: 2px;
    background-color: #ff8c00;
    margin-right: 5px;
    margin-top: 19px
}
.patch-promote-mes {
    margin-top: 29px
}
.patch-promote-line {
    height: 53px;
    margin-left: 20px;
    position: relative
}
.patch-promote-line-title {
    display: block;
    float: left;
    width: 88px;
    height: 50px;
    line-height: 38px
}
.patch-promote-line-head {
    height: 35px
}
.patch-promote-name {
    width: 352px;
    height: 32px;
    border: 1px solid #e6e6e6;
    border-radius: 4px
}
.patch-buy-time {
    color: grey
}
.patch-promote-tip {
    font-size: 12px;
    color: grey;
    margin: 0 10px
}
.patch-promote-zhi {
    margin-left: 15px;
    margin-right: 15px
}
.form-date {
    width: 148px;
    height: 32px;
    border: 1px solid #e6e6e6;
    border-radius: 4px
}
.patch-time-icon {
    display: block;
    width: 15px;
    height: 13px;
    position: absolute;
    top: 11px;
    background-position: -5px -6px
}
.patch-start-img {
    left: 99px
}
.patch-end-img {
    left: 305px
}
.patch-promote-line-type {
    height: 169px
}
.patch-type {
    margin-left: 88px;
    width: 648px;
    height: 114px
}
.patch-type>div {
    float: left;
    width: 80px;
    height: 35px
}
.patch-type>div:hover {
    cursor: pointer
}
.patch-checbox {
    display: block;
    float: left;
    width: 16px;
    height: 18px;
    background-position: -148px -2px;
    margin-right: 2px
}
.patch-checked {
    background-position: -124px -2px
}
.patch-promote-imp-up>span {
    float: left
}
.patch-promote-img-tip {
    float: left
}
.patch-promote-img-tip {
    font-size: 12px;
    color: #ff6464
}
.patch-promote-img-tip>span {
    float: left
}
.patch-promote-img-tip-margin {
    margin-left: 10px
}
.patch-promote-imp-up {
    height: 55px;
    line-height: 55px
}
.patch-promote-hint {
    float: left;
    position: relative;
    height: 16px;
    top: 17px;
    width: 35px;
    left: 6px;
    cursor: pointer
}
.patch-jiaobiao {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    background-position: -29px -5px;
    margin-top: 3px
}
.patch-promote-eg {
    width: 130px;
    box-shadow: 0 0 10px #e5e5e5;
    height: 98px;
    position: absolute;
    z-index: 200;
    left: 25px;
    top: -8px;
    background-color: #fff;
    color: grey;
    display: none
}
.patch-promote-hint:hover .patch-promote-eg {
    display: block
}
.patch-promote-eg div {
    margin: 0 10px
}
.patch-promote-help-box:before {
    position: absolute;
    top: 10px;
    content: '';
    width: 0;
    height: 0;
    border-bottom-color: inherit;
    border-top: 7px solid transparent;
    border-right: 10px solid #e5e5e5;
    border-bottom: 7px solid transparent
}
.patch-promote-help-box:after {
    top: 10px;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 7px solid transparent;
    z-index: 300
}
.patch-promote-help-box:before {
    left: -8px
}
.patch-promote-help-box:after {
    left: -8px
}
.patch-help-title-eg {
    height: 26px;
    font-size: 12px;
    color: grey;
    line-height: 35px
}
.patch-help-eg-img {
    width: 110px;
    height: 62px;
    background-position: -5px -53px
}
.patch-promote-img-add {
    margin-left: 88px;
    height: 100px
}
.patch-promote-content {
    float: left;
    width: 138px;
    margin-right: 20px;
    height: 80px;
    position: relative
}
.patch-content-img {
    position: absolute;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    cursor: pointer;
    top: 12px;
    height: 60px;
    width: 60px;
    left: 30px
}
.patch-promote-content-border {
    height: 78px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    position: relative
}
.patch-promoter-content-add {
    display: block;
    width: 37px;
    height: 37px;
    margin: 0 auto;
    margin-top: 22px;
    background-position: -126px -33px;
    cursor: pointer
}
.patch-promote-content-exist {
    position: absolute;
    height: 80px;
    width: 138px;
    z-index: 100;
    top: 0;
    border-radius: 4px;
    display: none
}
.patch-promote-content-exist-0 {
    z-index: 180
}
.patch-promote-content-exist-1 {
    z-index: 160
}
.patch-promote-content-exist-2 {
    z-index: 150
}
.patch-promote-content-exist-img {
    width: 138px;
    height: 80px;
    border-radius: 4px;
    background-size: cover
}
.patch-promote-img-delete {
    display: block;
    width: 17px;
    height: 17px;
    float: right;
    background-position: -100px -4px;
    position: absolute;
    top: 10px;
    right: 10px
}
.patch-promote-img-delete:hover {
    cursor: pointer
}
.patch-promote-line-div>div {
    display: block;
    float: left;
    height: 50px;
    line-height: 38px
}
.patch-margin-none {
    margin: 0
}
.patch-promote-money {
    width: 148px;
    height: 32px;
    border: 1px solid #e6e6e6;
    border-radius: 4px
}
.patch-promote-expose {
    color: #ff8c00;
    font-size: 12px
}
.patch-promote-line-div>div>div {
    float: left
}
.patch-promote-line-div .patch-promote-tip-show {
    display: none
}
.patch-promote-line-div .patch-promote-tip-min {
    display: block
}
.patct-phone {
    display: block;
    float: left;
    width: 14px;
    height: 16px;
    background-position: -77px -4px;
    margin-right: 4px;
    margin-top: 11px
}
.patch-phont-text {
    font-size: 12px;
    color: #ffa333
}
.patch-phont-text:hover {
    color: #ff8c00;
    cursor: pointer
}
.patch-promote-phone:hover {
    cursor: pointer
}
.patch-help-box {
    position: relative;
    width: 16px;
    height: 14px;
    float: left;
    left: 5px
}
.patch-help {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: -53px -5px;
    position: absolute;
    left: 0
}
.patch-help-top {
    top: 12px
}
.patch-radio-top {
    top: 3px
}
.patch-promote-server {
    width: 148px;
    height: 32px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: grey
}
.patch-newrank {
    height: 98px;
    background-color: #fafafa
}
.patch-promote-line-height {
    height: 121px
}
.patch-promote-line-section {
    height: 23px
}
.patch-promote-radio {
    display: inline-block
}
.patch-radiobox {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    background-position: -30px -30px;
    margin-top: 4px
}
.patch-select {
    background-position: -6px -30px
}
.patch-radio-no, .patch-radio-yes {
    cursor: pointer
}
.patch-margin-top {
    margin-top: 15px
}
.patch-newrank>div {
    height: 40px;
    line-height: 40px
}
.patch-newrank .patch-newrank-index {
    height: 52px;
    line-height: 52px
}
.patch-secation-text {
    display: block;
    float: left;
    width: 107px;
    color: #666;
    margin-left: 37px
}
.patch-index-secation {
    width: 110px;
    height: 32px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: grey
}
.patch-promote-float {
    float: left
}
.patch-help-detail-box {
    position: absolute;
    width: 170px;
    height: 133px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 12px;
    top: -12px;
    left: 25px;
    box-shadow: 0 0 10px #e5e5e5;
    display: none;
    z-index: 200
}
.patch-help-detail-box div {
    margin: 0 10px;
    border-bottom: 1px solid #f5f5f5;
    height: 29px;
    line-height: 29px;
    color: grey
}
.patch-help-detail-box div:last-child {
    border: none
}
.patch-help-price {
    margin-left: 5px
}
.patch-help-ratio {
    float: right;
    margin-right: 5px
}
.patch-margin-left {
    margin-left: 20px
}
.patch-help-detail-box .patch-help-title {
    color: #4c4c4c;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #e6e6e6
}
.patch-help-top:hover .patch-help-detail-box {
    display: block
}
.patch-promte-raido-phelp-box {
    width: 223px;
    height: 40px;
    line-height: 40px
}
.patch-total {
    width: 813px;
    height: 36px;
    line-height: 36px;
    position: relative;
    margin: 0 auto;
    margin-top: 38px;
    top: -179px
}
.patch-total-text {
    display: block;
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 700;
    color: #4c4c4c;
    margin-left: 29px
}
.patch-total-money {
    display: block;
    float: left;
    font-size: 26px;
    font-weight: 700;
    color: #ff8c00;
    margin-right: 5px
}
.patch-tatal-tip {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 700;
    color: #999
}
.patch-promote-btn {
    display: block;
    float: right;
    height: 34px;
    width: 110px;
    background-color: #ffa333;
    text-align: center;
    line-height: 34px;
    color: #fff;
    border-radius: 4px;
    margin-right: 9px;
    border: none;
}
.patch-promote-help {
    float: right;
    margin-right: 9px
}
.patch-detail-open-tel {
    color: #42bcf2
}
.patch-detail-open-tel:hover {
    color: #00b0f0;
    cursor: pointer
}
.patch-promote-btn:hover {
    background-color: #ff8c00;
    cursor: pointer
}
.patch-open-money, .patch-open-server {
    display: none;
    height: 38px;
    line-height: 38px;
    margin-right: 10px;
    color: #ff8c00
}
.patch-promote-help {
    display: none
}
.patch-detail-open {
    border: none;
    background: 0 0
}
.patch-detail-open-hide {
    display: none!important
}
.patch-detail-open-show {
    display: inline-block!important
}
.patch-detail-open-color {
    color: #ff8c00
}
.patch-img-box {
    width: 342px;
    height: 203px;
    background-color: #fff;
    position: absolute;
    z-index: 600;
    top: 10px;
    left: 117px
}
.patch-open-content-exist:hover .patch-img-box {
    display: block
}
.patch-img-box {
    display: none;
    box-shadow: 0 0 10px #e5e5e5;
    border-radius: 4px
}
.patch-img-box-hover {
    width: 322px;
    height: 184px;
    margin: 10px;
    border-radius: 4px;
    background-size: cover
}
.patch-img-box:before {
    position: absolute;
    top: 10px;
    content: '';
    width: 0;
    height: 0;
    border-bottom-color: inherit;
    border-top: 7px solid transparent;
    border-right: 10px solid #e5e5e5;
    border-bottom: 7px solid transparent;
    left: -9px
}
.patch-img-box:after {
    top: 10px;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 7px solid transparent;
    z-index: 300;
    left: -8px
}
.patch-promote-authorization-content {
    width: 138px;
    /*margin-right: 20px;*/
    height: 80px;
    position: relative;
    /*margin-left: 30px;*/
    display:flex;
    justify-content: space-around;
}
.patch-promote-tip-jingzun {
    display: none;
    float: left;
    margin-left: 0
}
.patch-promote-tip-type {
    height: 55px;
    line-height: 55px
}
.user-ade {
    display: none
}
.main-remind-top-head {
    position: relative;
    border-bottom: 1px solid #d9d9d9
}
.main-remind-top-head p {
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 16px
}
.main-remind-top-head p i {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-position: -122px -75px;
    vertical-align: -3px;
    margin-right: 5px
}
.main-remind-body {
    padding: 8px 20px 8px;
    height: 100px
}
.main-remind-body div {
    margin: 20px 0 20px 0;
    text-align: center
}
.main-content-remind-info {
    color: #a0a0a0;
    font-size: 14px
}
.main-remind-footer {
    width: 300px;
    margin: 30px auto;
    height: 30px;
    text-align: center
}
.clear {
    zoom: 1
}
.main-remind-footer div {
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center
}
.main-publish-remind-cover {
    float: left;
    background-color: #fff;
    border: 1px solid #999;
    color: #333;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
.main-publish-remind-action {
    float: right;
    background-color: #ff8c00;
    border: 1px solid rgba(255, 140, 0, 1);
    color: #fff;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
.main-publish-remind-cover:hover {
    border-color: #ff8c00;
    color: #ff8c00
}
.clear:after {
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: "";
    clear: both
}