html {overflow:visible;}

#popupcart_extended {
    display:none;
    overflow:hidden;
    font-family: 'open sans';
    font-size:14px !important;
    border-radius:5px !important;
    box-shadow: 0 0 15px #555 !important;
    background-color: #fff;
    padding: 18px;
	width:620px;
    transform: translateX(0) translateY(-20%);
    -o-transform: translateX(0) translateY(-20%);
    -moz-transform: translateX(0) translateY(-20%);
    -webkit-transform: translateX(0) translateY(-20%);
    transition: all ease-in-out .2s;
}

#popupcart_extended > * {
	box-sizing: border-box !important;
}

.popup_visible #popupcart_extended {
	transform: translateX(0) translateY(0%);
	-o-transform: translateX(0) translateY(0%);
	-moz-transform: translateX(0) translateY(0%);
	-webkit-transform: translateX(0) translateY(0%);
	transition: all ease-in-out .2s;
}

#popupcart_extended .head {
	font-size:1.4em;
	font-weight:500;
	background:#f5f5f5;
    color:#333;
    margin:-18px -19px 7px;
    padding:13px 19px 15px;
    border-bottom:solid 1px #d2d2d2;
    border-radius:5px 5px 0 0;
}

#popupcart_extended .head .close{
	display:block;
	opacity: 1.0;
	float:right;
	cursor:pointer;
	padding:5px;
	margin:2px -2px 0 0 ;
	border-radius:4px;
}

#popupcart_extended .head .close:hover{
	background:#dedede;
	box-shadow:inset 0 1px 1px #777, inset 0 -1px 1px #fff;;
}

#popupcart_extended .popupcart_info {
	max-height: 370px;
    min-height: 60px;
    margin-bottom: 5px;
    overflow-y: auto;
}

#popupcart_extended .popupcart_info table{
	width:100%;
	padding:0;
	margin:0;
	border-collapse: collapse;
	border:none;
}

#popupcart_extended .popupcart_info tr{
	border-collapse: collapse;
}

#popupcart_extended .popupcart_info tr:first-child{
	border-collapse: collapse;
}

#popupcart_extended .popupcart_info tr:first-child td{
	height:20px;
	min-height:20px;
	color:#777;
	font-weight:500;
	font-size:0.8em;
	text-shadow:0 1px 0 #fff;
	padding:6px 10px 7px;
}

#popupcart_extended .popupcart_info .hr {
	height:0px !important;
	min-height:0px !important;
}

#popupcart_extended .popupcart_info .hr td{
	height:0px !important;
	min-height:0px !important;
	border-top:solid 1px #e2e2e2;
	border-bottom:solid 1px #fff;
}

#popupcart_extended .popupcart_info td {
	vertical-align:middle;
	border-collapse: collapse;
	padding:0 10px;
	height:80px;
	min-height:80px;
	box-sizing: border-box;
}

#popupcart_extended .popupcart_info .hr td .remove {
	display:block;
}

#popupcart_extended .popupcart_info tr:first-child .image{
	padding-left:0;
}

#popupcart_extended .popupcart_info .image {
	vertical-align:middle;
	text-align:center;
	padding:2px 10px 0 0;
}

#popupcart_extended .popupcart_info .name {
	min-width:130px;
	line-height:1.0em;
}

#popupcart_extended .popupcart_info .name a {
	font-size:1.0em;
	line-height:1.5em;
}

#popupcart_extended .popupcart_info small {
	font-size:0.8em;
}

#popupcart_extended .popupcart_info .image img {
	width:64px !important;
	max-width:64px !important;
	height:auto;
	background:#fff;
	outline: 0;
  	box-sizing: border-box;
  	cursor:pointer;
  	margin:0;
}

#popupcart_extended .popupcart_info .brand {
	text-align:center;
	font-size:0.9em;
}

#popupcart_extended .popupcart_info .quantity {
	width:90px;
	min-width:90px;
	text-align:center;
} 

#popupcart_extended .popupcart_info .quantity > *{
	float:left;
}

#popupcart_extended .popupcart_info input[type='text'] {
	text-align:center; 
	width:26px !important; 
	height:24px !important; 
	padding:1px 0px 0px !important; 
	border:none; 
	border-top:solid 1px #d2d2d2;
	border-bottom:solid 1px #d2d2d2;
	border-radius:0 !important;
	color:#555 !important;
	line-height:normal !important;
	font-size:12px !important;
	box-sizing: border-box;
}

#popupcart_extended .popupcart_info .update {
	display:inline-block; 
	line-height:normal;
	vertical-align:top; 
	color:#888; 
	border:solid 1px #d2d2d2; 
	height:24px !important;
	padding:2px 5px 3px !important; 
	background:#eee; 
	text-shadow:0 1px 0 #fff;
	font-size:14px;
	cursor:pointer;
	box-sizing: border-box;
}
#popupcart_extended .popupcart_info .minus{border-radius:3px 0 0 3px;}
#popupcart_extended .popupcart_info	.plus{border-radius:0 3px 3px 0;}
#popupcart_extended .popupcart_info	.plus:hover, #popupcart_extended .popupcart_info .minus:hover {background:#e5e5e5;}

#popupcart_extended .popupcart_info .price {
	width:100px;
	font-size:14px;
	text-align:center;
}

#popupcart_extended .popupcart_info .remove {
	width:2px;
	min-width:0px;
	padding:0 4px 0 0;
	text-align:right;
}

#popupcart_extended .popupcart_info .remove img{
	cursor:pointer;
}

#popupcart_extended #cart-total {
	display:none !important;
}

#popupcart_extended .checkout {
	display:none !important;
}

#popupcart_extended .popupcart_total{
	border-bottom:solid 1px #e2e2e2;
	line-height:23px;
	height:35px;
	padding:2px 0 0px; 
}

#popupcart_extended .popupcart_total table{
	float:right;
}

#popupcart_extended .popupcart_total td + td{
	padding:0 0 0 4px;
}

#popupcart_extended .popupcart_total td{
	border:none;
	font-weight:400 !important;
	font-size:14px;
}

#popupcart_extended .continue {
	text-decoration:none;
	border-bottom:dashed 1px;
	display:block;
	float:left;
	margin-top:5px;
	line-height:normal;
} 

#popupcart_extended .popupcart_buttons {
	border-top:solid 1px #fff;
	padding:16px 0 2px;;
	text-align:center;
	overflow:auto;
}

#popupcart_extended .popupcart_buttons a, #popupcart_extended .popupcart_buttons .button{
	font-size:1em;
	line-height:0.5em;
	border-radius:4px;
}

#popupcart_extended .popupcart_buttons :first-child {
	display:block;
	float:left;
	color: #777;
	background-color:#eee;
	border-color:#ddd;
}

#popupcart_extended .popupcart_buttons :last-child {
	display:block;
	float:right;
	background-color:#d9534f;
	border-color:#d43f3a;
}

#popupcart_extended .popupcart_buttons :last-child:hover {
	background-color: #d2322d;
	border-color: #ac2925;
}

#popupcart_extended .empty {
	padding-top:15px;
	font-weight:700;
	text-align:center;
}

#button-cart2{
	margin-left:15px;
}

#popupcart_extended #related {
	position:relative;
	overflow:hidden;
	margin:15px -24px -18px;
	padding:0 20px 10px;
	box-shadow: inset 0 1px 5px #ccc
}

#popupcart_extended #related .related_product{
	background:none;
	box-shadow: 0 0 0;
	margin:0;
}

#popupcart_extended #related .heading{
	color: #000;
	font-size:1.35em;
	font-weight:500;
/*	border-bottom:solid 1px #f8f8f8;
	box-shadow: inset 0 -1px 0 #d5d5d5; */
	padding:8px 4px 10px;
/*	margin:10px 5px 12px; */
}

#popupcart_extended .owl-wrapper-outer, #popupcart_extended .owl-wrapper {
	padding:0;
	margin:0;
	background:transparent;
	border:none;
	box-shadow: 0 0 0;
}

#popupcart_extended #related .owl-controls {
	height:auto;
}

#popupcart_extended #related .owl-buttons {
	position:absolute;
	top:-32px;
	right:5px;
}

#popupcart_extended #related .owl-buttons > div {
	position:relative;
	display:inline-block;
	left:auto;
	right:auto;
	width:20px;
	text-align:center;
	padding: 0px 0 0 1px;
	margin:0;
	line-height:1.2em;
	font-size:1.1em;
	font-weight:400;
	text-shadow:0 1px 0 #fff;
	color:#888;
	border:solid 1px #ccc;
	background:#eee;
	background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
	border-radius:4px;
	opacity:1;
}

#popupcart_extended #related .owl-buttons > div:hover{
	background:#eee;
}

#popupcart_extended #related .owl-buttons > div:active {
	box-shadow:inset 0 1px #ccc;
	background:#ddd;
	background: linear-gradient(to bottom, #ddd 0%, #eee 100%);
}

#popupcart_extended #related .owl-buttons > div + div {
	margin:0 0 0 10px
}

#popupcart_extended #related .owl-pagination {
	position:absolute;
	top:-38px;
	right:80px;
	font-size:0.8em;
	display:none;
}

#popupcart_extended #related .owl-pagination > div {
	display:inline-block;
	margin:0 0 0 8px;
	padding:0 4px;
	border-radius:100%;
	color:#888;
}

#popupcart_extended #related .owl-pagination > div:hover {
	background:#ddd;
}

#popupcart_extended #related .owl-pagination > div.active {
	background:#ddd;
}


#popupcart_extended #related .owl-item {
	
}

#popupcart_extended #related .owl-item + .owl-item {
	
}

#popupcart_extended #related .owl-item > div {
	margin:0 5px;
	padding:10px;
	border:solid 1px #ddd;
	border-radius:4px;
	box-shadow: inset 0 1px 0 #fff;
}

#popupcart_extended #related .owl-item > div > div {
	border:solid 0px;
	display:inline-block;
	vertical-align:top;
}

#popupcart_extended #related .owl-item > div > div + div {
	margin:0px 0px 0 0;
	width:163px;
}

#popupcart_extended #related .image {
	margin:0 7px 0 0;
}

#popupcart_extended #related .image img {
	width:82px;
	height:auto;
}

#popupcart_extended #related .name {
	min-height:40px;
	white-space:pre-line;
	line-height:1.0em;
}

#popupcart_extended #related .name a{
	font-size:1.0em;
	white-space:pre-line;
}

#popupcart_extended #related .price {
	margin:0 10px 6px 0;
	font-size:1.0em;
	line-height:1.0em;
	font-weight:500;
	color:#444;
}

#popupcart_extended #related .price .price-old{
	text-decoration:line-through;
	color:#f00;
}

#popupcart_extended #related .cart {
	margin:0;
}

#popupcart_extended #related .cart .button {
	line-height:0px;
	margin:-1px 0 0;
	padding: 3px 14px 4px;
}

#popupcart_extended #related .cart .button img {
	width:13px;
	padding:1px 0 0;
	height:auto;
}

@media (max-width: 490px) { 

	#popupcart_extended {
		width:380px !important;
	}

	#popupcart_extended .popupcart_info .image {
		width:20% !important;
		padding-left:0px !important;
		padding-right:0px !important;
	}

	#popupcart_extended .popupcart_info .name {
		width:50% !important;
		padding-left:12px !important;
		padding-right:0px !important;
	}

	#popupcart_extended .brand {
		display:none;
	}

	#popupcart_extended .quantity {
		width:10% !important;
	}

	#popupcart_extended .quantity input[type='text']{
		border-radius:3px !important;
	}

	#popupcart_extended .quantity .minus, #popupcart_extended .quantity .plus{
		display:none;
	}

	#popupcart_extended .popupcart_info .price {
		width:20% !important;
		padding-left:0px !important;
		padding-right:0px !important;
	}

	#popupcart_extended .cont {
		display:none
	}
}