/* Header */

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}
h1, h2, h3, h4, h5, legend {
	font-weight: bold;
	margin-bottom: 1.0em;
	margin-top: 0;
}
h1 {
	font-size: 1.8em;
}
h1 > .header-archived {
    color: #aa0000;
}
h2 {
	font-size: 1.6em;
}
h3, legend {
	font-size: 1.4em;
}
h4, h5 {
	font-size: 1.3em;
}
legend {
	padding: 1% 0 0 1%;
	margin-bottom: .4em
}
p {
	font-size: 1.0em;
	line-height: 1.4em;
}

/* Splash loader */
html.abstract-splash {
    height: 99.9%;
}
html.abstract-splash body {
	background-color: #f9f9f9;
	background-image: url(images/ajax-loader-splash.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
	z-index: 9999;
}
.abstract-splash .abstract-header,
.abstract-splash .abstract-footer {
	display: none;
}

/* Overlay for form disable on loading */

.abstract-overlay {
    background-color:rgba(0, 0, 0, 0.1);
    width: 100%;
    height: calc(100% - 116px);
    z-index: 9990;
    position: fixed;
    top: 71px;
    left: 0;
    display: none;
}

/* Header */
#abstract-cms-page {
	padding-top: 4.5em;
	padding-bottom: 2.9em;
}
#abstract-cms-page .ui-panel-wrapper  {
	overflow-x: visible;
}
.ui-panel-page-container #abstract-cms-page {
	padding-top: 0;
	padding-bottom: 0;
}
#abstract-cms-page .abstract-header {
	background: #fff;
	border-top: 4px solid #333;
	border-bottom-color: #eee;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
#abstract-cms-page .abstract-header h2 {
	padding: .4em 0 .1em;
	margin: 0 3em;
}
#abstract-cms-page .abstract-header h2 a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
#abstract-cms-page .abstract-header h2 img {
	display: block;
	width: 220px;
	height: auto;
}
#abstract-cms-page .abstract-header h2 > img {
	display: inline-block;
}
#abstract-cms-page .abstract-header p {
	position: absolute;
	bottom: -2em;
	left: 1em;
	margin: 0;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
#abstract-cms-page .abstract-header .ui-btn {
	width: 2em;
	height: 2em;
	background: none;
	border: 0;
	top: 50%;
	margin-top: -1em;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
	opacity: .4;
	filter: Alpha(Opacity=40);
}

/* Footer */

#abstract-cms-page .abstract-footer.ui-footer {
	width: 100%;
}
#abstract-cms-page .abstract-footer {
	border-top: 1px solid #333;
}
#abstract-cms-page .abstract-footer p {
	font-size: .8em;
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0 1.25em 1.25em;
}
#abstract-cms-page .abstract-footer p:first-child {
	font-size: 1em;
	color: #666;
	font-weight: 400;
	margin: 1em 1em .75em;
}

/* Navmenu */

.jqm-navmenu-panel .ui-listview > li .ui-collapsible-heading {
	margin: 0;
}
.jqm-navmenu-panel .ui-collapsible.ui-li-static {
	padding: 0;
	border: none !important;
}
.jqm-navmenu-panel .ui-collapsible + li > .ui-btn,
.jqm-navmenu-panel .ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn,
.jqm-navmenu-panel .ui-panel-inner > .ui-listview > li.ui-first-child .ui-btn {
	border-top: none !important;
}
.jqm-navmenu-panel .ui-listview .ui-btn {
    color: #666666;
}
.jqm-navmenu-panel .ui-listview .ui-btn:hover {
    color: #333333;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
	padding-left: 1.5em;
	color: #999;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn.ui-btn-active {
	color: #fff;
}
.jqm-navmenu-panel .ui-btn:after {
	opacity: .4;
	filter: Alpha(Opacity=40);
}
#abstract-cms-page .jqm-navmenu-panel.jqm-panel-page-nav ul li:first-child a{
	border-top: none;
}
#abstract-cms-page .jqm-navmenu-link,
#abstract-cms-page .jqm-search-link {
	display: none;
}
#abstract-cms-page .jqm-navmenu-link {
	left: 2%;
}
#abstract-cms-page .jqm-search-link {
	right: 2%;
}

/* Search Panel */

.jqm-search {
	margin: -1em;
}
.jqm-search form {
    margin: .5em;
}
.jqm-search .ui-btn {
    color: #666666 !important;
}
.jqm-search .ui-btn:hover {
    color: #333333 !important;
}
.jqm-search .ui-alt-icon .ui-btn:after {
    opacity: .4;
    filter: Alpha(Opacity=40);
}

/* Login */ 

#main-content .abstract-login {
	text-align: center;
	position: absolute;
	top: 4.5em;
	bottom: 2.9em;
	left: 0;
	right: 0;
}
#main-content .abstract-login:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.abstract-login-cnt {
	display: inline-block;
	vertical-align: middle;
}
#form-signin {
	text-align: center;
	width: 20em;
	padding: 15px;
	margin: 0 auto;
}
.login-error {
	color: red;
	text-align: left;
	margin: .5em 0 1em 0;
	display: none;
}

/* Error Pages */ 

#abstract-error {
	text-align: center;
}
#abstract-error p {
	margin: 2em 0 0 0;
}
#abstract-error .button-back {
	max-width: 200px;
    display: inline-block;
}


/* Modal Alerts */

.abstract-modal-popup {
	min-width: 350px;
	z-index: 1100;
	display: none;
}
#modal-warning .ui-header,
#modal-warning .ui-btn {
	text-shadow: none;
	background-color: #f00;
	border-color: #ddd;
	color: #fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#modal-warning .ui-header,
#modal-confirm .ui-header, 
#modal-dialog .ui-header {
	border-color: #ddd;
}
#modal-warning-label,
#modal-confirm-label,
#modal-dialog-label {
	width: auto;
	margin: 0 5%;
}
#modal-warning .ui-footer,
#modal-confirm .ui-footer,
#modal-dialog .ui-footer {
	background-color: transparent;
	text-align: right;
	padding: .5em;
}
#list-action-popup {
	min-width: 20em;
}
#list-action-popup .ui-content > div {
	text-align: center;
	margin-bottom: 1em;
}
#list-action-popup .ui-content > div:last-child {
	margin-bottom: 0;
}
#list-action-popup .ui-content .model-title {
	font-size: .8em;
}

/* Form styles */

#form-main, #form-sidebar {
	width: auto;
	padding: 0;
}
#form-sidebar.is_stuck {
	margin-top: 5.5em;
}
.form-save.activate {
	background-color: #009245 !important;
	border-color: #54cc60 !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #444444 !important;
}
.form-save.activate:hover {
	background-color: #45a74f !important;
	border-color: #60e96e !important;
	text-shadow: 0 1px 0 #444444 !important;
}
.ui-mobile label {
	font-weight: bold;
	color: #333333;
}
.ui-page-theme-a .ui-btn {
	color: #666666;
}
.ui-page-theme-a button.ui-btn {
	color: #333333;
}
.form-group {
	margin-bottom: 1em;
}
.form-group.form-hidden {
    font-weight: bold;
    margin-bottom: 0;
}
.form-group.has-error {
    margin-bottom: 1em;
}
.has-error input[type="text"],
.has-error input[type="email"],
.has-error input[type="password"],
.has-error select {
	border: 1px solid #ff0000;
}
.has-error textarea,
.has-error .ui-selec {
	border-color: #ff0000 !important;
}
.has-error .ui-select .ui-btn > span:first-child,
.has-error .ui-checkbox label,
.has-error .ui-radio label {
	color: #bb0000;
}
.has-error .ui-select,
.has-error .ui-checkbox,
.has-error .ui-radio {
	border: 1px solid #ff0000;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
}
.has-error .field-error-message {
	font-size: .8em;
	color: #ff0000;
	margin-bottom: 1.0em;
	display: block;
}
.form-group .tooltip,
.form-group .tooltip-content .tooltip-info {
	text-align: center;
	vertical-align: text-bottom;
	background-color: #99C5E6;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	font-size: .875em;
	line-height: 1.5em;
	display: inline-block;
	cursor: pointer;
	margin-left: 1em;
}
.form-group .tooltip:before {
	content: '?';
	font-weight: bold;
	color: #fff;
}
.form-group .tooltip.open {
	background-color: #38c;
}
.form-group .tooltip-content .tooltip-info {
	background-color: #38c;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	float: right;
}
.form-group .tooltip-content .tooltip-info:before {
	content: 'i';
}
.form-group .tooltip-content {
	background-color: #e9e9e9;
	border: 1px solid #bbb;
	-webkit-border-radius: .3725em;
	border-radius: .3725em;
	padding: 1em;
	margin: 0 0 1em 0;
	display: none;
}
.ui-input-text input[readonly="readonly"] {
	background-color: #ededed;
	color: #999;
	border: 0;
}
.abstract-readonly {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* Widgets */

.ui-loader {
	text-align: center;
	vertical-align: middle;
	border: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.ui-loader-verbose {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.ui-loader {
	position: fixed;
	top: 0 !important;
	left: 0;
}
.ui-loader-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ui-popup-screen { /* for popup overlay to cover entire screen */
	position: fixed;
}

/* List page styles */

.module-top-button {
	width: 10em;
	float: right;
	margin-bottom: 1em;
}
@media (max-width: 768px) {
    .module-top-button {
        width: 39%;
        float: none;
        display: inline-block;
        margin: .446em 0 1em 0;
    }
    .module-view-archive {
        margin-right: 4%;
    }
    .module-add-new {
        margin-top: 0;
    }
}
@media (max-width: 440px) {
    .module-top-button {
        width: 88%;
        display: block;
    }
}
.module-filter {
	border: 1px solid #ccc;
	margin: 0;
	margin-bottom: 1.5em;
	position: relative;
}
.module-filter h3 {
	margin-bottom: 0;
	padding: 1% 0 0 1%;
}
.module-filter-clear {
	float: right;
	width: 8em;
	margin: 1em 2em 0 0;
	padding: .5em 1em;
	display: none;
}
.module-filter-group {
	width:100%;
}
.module-filter-group > div {
	padding: 1%;
}
h3.grid-header {
	font-size: 1.1em;
}
#grid table tbody td {
	font-size: .9em;
    padding-left: 1.2em;
}
#grid table tbody tr {
	cursor: pointer;
}
#grid table tbody tr.row-hover {
	text-shadow: none;
	background-color: #38c;
	color: #fff;
}
#grid table tbody tr.row-hover b.ui-table-cell-label,
#grid table tbody tr.row-hover b.ui-table-cell-label a {
	color: #ddd;
}
#grid table thead th,
#grid table tbody td {
	vertical-align: middle;
}
#grid table thead th,
#grid table tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
#grid table thead th,
#grid table tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
#grid table tbody tr:last-child th,
#grid table tbody tr:last-child td {
    border-bottom: 0;
}
#grid table tbody tr:nth-child(odd) td,
#grid table tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}
#grid table thead th a {
	cursor: pointer;
}
#grid table thead th button {
	font-size: 14px;
}
#grid table thead th.ascending a:after,
#grid table thead th.ascending button:after {
	content:  " \25B2";
}
#grid table thead th.descending a:after,
#grid table thead th.descending button:after {
	content:  " \25BC";
}
#grid th.bulk-select-cell,
#grid td.bulk-select-cell {
	width: 90px;
}
#grid .ui-checkbox {
	margin: 0;
}
#grid span.bulk-select-label {
	font-size: .9em;
	font-weight: normal;
	text-shadow: none;
	display: block;
}
#grid label.ui-checkbox-on {
	color: #666666;
}
#grid label.ui-checkbox-off {
	color: #999999;
}
#abstract-bulk-update {
	width: 20%;
	margin: 1.5em 0;
	float: left;
}
#abstract-sort-selector {
	margin: 1.5em 0;
	display: none;
}
.abstract-paginator {
	text-align: right;
	margin: 1.5em 0;
	float: right;
}
.abstract-paginator a.pager-control {
	border-width: 0;
	display: inline-block;
	width: 22px;
	height: 22px;
	padding: 5px;
	margin: 0;
	cursor: pointer;
}
.abstract-paginator div.pager-page-cnt {
	font-weight: bold;
	line-height: 36px;
	color: #666666;
	vertical-align: top;
	margin: 0 10px;
	display: inline-block;
}
.abstract-paginator div.pager-page-cnt div {
	font-size: 12.5px;
	vertical-align: middle;
}
.abstract-paginator div.pager-page-cnt div.ui-select,
.abstract-paginator .ui-select {
	width: 6.0em;
	margin: 0;
	display: inline-block;
}
.abstract-paginator > div.ui-select {
	width: 12.0em;
	margin-left: 40px;
}

/* Plupload upload */

.plupload_header_content {
  text-shadow: none !important;
}

@media (max-width: 60em) { /* 960px */
	#abstract-cms-page {
		padding-top: 3.5em;
		padding-bottom: 1.9em;
	}
	.module-filter h3 {
		padding: 2% 0 0 2%;
	}
	.module-filter-clear {
		margin: .8em 1em .8em 0;
	}
	.module-filter-group > div {
		padding: 1% 2%;
		float: none;
	}
	.module-filter-group .module-filter-item,
	.module-filter-group .module-filter-button {
		width: auto;
		float: none;
	}
	#grid table tbody td {
        padding-left: .4em;
		display: block;
	}
	#grid table thead,
	#grid td.bulk-select-cell b.ui-table-cell-label {
		display: none;
	}
	#grid td b.ui-table-cell-label {
		display: inline-block;
	}
    #grid td b.ui-table-cell-label button.ui-btn { /* "Hide" button since does nothing anyway */
        font-size: 14px;
        margin: 0 0 0 10px;
        padding: 0;
        display: inline-block;
        text-align: left;
        box-shadow: none;
        -webkit-box-shadow: none;
        border: 0;
        background-color: transparent;
        text-shadow: none;
        cursor: default;
    }
	#grid td.bulk-select-cell {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-top: 1.0em;
		border-width: 0;
	}
	#grid table tr:first-child td.bulk-select-cell {
		margin-top: 0;
	}
	#grid td.bulk-select-cell label {
		margin-left: .75%;
		margin-right: .75%;
	}
	#grid span.bulk-select-label {
		font-size: 1.0em;
	}
	#abstract-bulk-update {
		width: auto;
		margin: 1.5em 0 0;
		float: none;
	}
	#abstract-sort-selector {
		display: block;
	}
	.abstract-paginator {
		text-align: center;
		float: none;
	}
	.abstract-paginator a.pager-control {
		margin-left: 1.0em;
	}
	.abstract-paginator a.page-first,
	.abstract-paginator a.page-next {
		margin-left: 0;
	}
	.abstract-paginator > div.ui-select {
		width: 100%;
		margin: 1.5em 0 0;
	}
	#modal-warning,
	#modal-confirm, 
	#modal-dialog {
		min-width: inherit;
	}
}

@media (min-width: 60em) { /* 960px */
	#abstract-cms-page .abstract-header h2 {
		padding: .5em 0 .2em;
		margin: 0 2%;
	}
	#abstract-cms-page .abstract-header h2 img {
		width: 275px;
		height: 50px;
	}
	#abstract-cms-page .abstract-header p {
		bottom: auto;
		left: auto;
		top: 50%;
		right: 15%;
		font-size: 1.2em;
		margin-top: -.625em;
	}
	#abstract-cms-page .abstract-footer p {
		float: right;
		margin: 1.5em 3% 1.5em 1.5em;
	}
	#abstract-cms-page .abstract-footer p:first-child {
		float: left;
		margin: 1.25em 1.25em 1.25em 3%;
	}
	#main-content {
		width: calc(100% - 2em);
		float: right;
	}
    #main-content.jqm-fullwidth {
		width: auto;
		padding-left: 15%;
		padding-right: 15%;
		float: none;
	}
	#form-main {
		width: 67%;
		float: left;
	}
	#form-sidebar, .sticky-wrapper {
		width: 31%;
		padding-left: 2%;
		float: left;
	}
	.sticky-wrapper #form-sidebar {
		width: auto;
		padding-left: 0;
		float: none;
	}
	.module-filter-group {
		overflow: hidden;
	}
	.module-filter-group > div {
		float: left;
	}
	.module-filter-group .module-filter-item {
		width: 27%;
	}
	.module-filter-group .module-filter-button {
		width: 10%;
	}
	#grid table td,
	#grid table th,
	#grid table tbody th,
	#grid table tbody td,
	#grid table thead td,
	#grid table thead th {
		display: table-cell;
		margin: 0;
	}
	#grid table td .ui-table-cell-label,
	#grid table th .ui-table-cell-label {
		display: none;
	}
	#grid td.bulk-select-cell b.ui-table-cell-label {
		display: none;
	}
}