.flex, [flex] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex, [flex] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/*--------------------------------------------------------------------*/
.flex-row {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* row-reverse */
.flex-row-rev {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* column */
.flex-col {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* column-reverse */
.flex-col-rev {
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/*--------------------------------------------------------------------*/
.flex-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
}

/* nowrap */
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* nowrap */
.flex-wrap-rev {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

/*--------------------------------------------------------------------*/
.flex-flow {
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

/* column-reverse wrap */
.flex-flow-wrap {
  -webkit-flex-flow: column-reverse wrap;
  -ms-flex-flow: column-reverse wrap;
  flex-flow: column-reverse wrap;
}

/*--------------------------------------------------------------------*/
.flex-content {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

/* flex-start */
.flex-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

/* flex-end */
.flex-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

/* flex-end */
.flex-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

/* space-between */
.flex-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

/* space-around */
.flex-content-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

/*--------------------------------------------------------------------*/
.align-items {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
}

/* flex-start */
.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}

/* flex-end */
.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

/* center */
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-grid-row-align: center;
  align-items: center;
}

/* baseline */
.align-items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-grid-row-align: baseline;
  align-items: baseline;
}

/* stretch */
.align-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
}

/*--------------------------------------------------------------------*/
.align-content {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

/* flex-start */
.align-content-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

/* flex-end */
.align-content-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

/* center */
.align-content-center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

/* space-between */
.align-content-between {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: space-between;
  align-content: space-between;
}

/* space-around */
.align-content-around {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: space-around;
  align-content: space-around;
}

/* stretch */
.align-content-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.flex, [flex] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-order {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -moz-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.flex-order-0 {
  -webkit-box-ordinal-group: 01;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.flex-order-1 {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.flex-order-2 {
  -webkit-box-ordinal-group: 21;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.flex-order-3 {
  -webkit-box-ordinal-group: 31;
  -webkit-order: 3;
  -moz-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.flex-order-4 {
  -webkit-box-ordinal-group: 41;
  -webkit-order: 4;
  -moz-order: 4;
  -ms-flex-order: 4;
  order: 4;
}

.flex-order-5 {
  -webkit-box-ordinal-group: 51;
  -webkit-order: 5;
  -moz-order: 5;
  -ms-flex-order: 5;
  order: 5;
}

.flex-order-6 {
  -webkit-box-ordinal-group: 61;
  -webkit-order: 6;
  -moz-order: 6;
  -ms-flex-order: 6;
  order: 6;
}

.flex-order-7 {
  -webkit-box-ordinal-group: 71;
  -webkit-order: 7;
  -moz-order: 7;
  -ms-flex-order: 7;
  order: 7;
}

.flex-order-8 {
  -webkit-box-ordinal-group: 81;
  -webkit-order: 8;
  -moz-order: 8;
  -ms-flex-order: 8;
  order: 8;
}

.flex-order-9 {
  -webkit-box-ordinal-group: 91;
  -webkit-order: 9;
  -moz-order: 9;
  -ms-flex-order: 9;
  order: 9;
}

.flex-order-10 {
  -webkit-box-ordinal-group: 101;
  -webkit-order: 10;
  -moz-order: 10;
  -ms-flex-order: 10;
  order: 10;
}

/*--------------------------------------------------------------------*/
.flex-grow-0 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-grow-2 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.flex-grow-3 {
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
  -moz-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.flex-grow-4 {
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
  -moz-flex-grow: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
}

.flex-grow-5 {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
  -moz-flex-grow: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
}

.flex-grow-6 {
  -webkit-box-flex: 6;
  -webkit-flex-grow: 6;
  -moz-flex-grow: 6;
  -ms-flex-positive: 6;
  flex-grow: 6;
}

.flex-grow-7 {
  -webkit-box-flex: 7;
  -webkit-flex-grow: 7;
  -moz-flex-grow: 7;
  -ms-flex-positive: 7;
  flex-grow: 7;
}

.flex-grow-8 {
  -webkit-box-flex: 8;
  -webkit-flex-grow: 8;
  -moz-flex-grow: 8;
  -ms-flex-positive: 8;
  flex-grow: 8;
}

.flex-grow-9 {
  -webkit-box-flex: 9;
  -webkit-flex-grow: 9;
  -moz-flex-grow: 9;
  -ms-flex-positive: 9;
  flex-grow: 9;
}

.flex-grow-10 {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
  -moz-flex-grow: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}

/*--------------------------------------------------------------------*/
.flex-shrink-0 {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.flex-shrink-1 {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.flex-shrink-2 {
  -webkit-flex-shrink: 2;
  -ms-flex-negative: 2;
  flex-shrink: 2;
}

.flex-shrink-3 {
  -webkit-flex-shrink: 3;
  -ms-flex-negative: 3;
  flex-shrink: 3;
}

.flex-shrink-4 {
  -webkit-flex-shrink: 4;
  -ms-flex-negative: 4;
  flex-shrink: 4;
}

.flex-shrink-5 {
  -webkit-flex-shrink: 5;
  -ms-flex-negative: 5;
  flex-shrink: 5;
}

.flex-shrink-6 {
  -webkit-flex-shrink: 6;
  -ms-flex-negative: 6;
  flex-shrink: 6;
}

.flex-shrink-7 {
  -webkit-flex-shrink: 7;
  -ms-flex-negative: 7;
  flex-shrink: 7;
}

.flex-shrink-8 {
  -webkit-flex-shrink: 8;
  -ms-flex-negative: 8;
  flex-shrink: 8;
}

.flex-shrink-9 {
  -webkit-flex-shrink: 9;
  -ms-flex-negative: 9;
  flex-shrink: 9;
}

.flex-shrink-10 {
  -webkit-flex-shrink: 10;
  -ms-flex-negative: 10;
  flex-shrink: 10;
}

/*--------------------------------------------------------------------*/
.flex-basis-1 {
  -webkit-flex-basis: 1rem;
  -ms-flex-preferred-size: 1rem;
  flex-basis: 1rem;
}

.flex-basis-2 {
  -webkit-flex-basis: 2rem;
  -ms-flex-preferred-size: 2rem;
  flex-basis: 2rem;
}

.flex-basis-3 {
  -webkit-flex-basis: 3rem;
  -ms-flex-preferred-size: 3rem;
  flex-basis: 3rem;
}

.flex-basis-4 {
  -webkit-flex-basis: 4rem;
  -ms-flex-preferred-size: 4rem;
  flex-basis: 4rem;
}

.flex-basis-5 {
  -webkit-flex-basis: 5rem;
  -ms-flex-preferred-size: 5rem;
  flex-basis: 5rem;
}

.flex-basis-6 {
  -webkit-flex-basis: 6rem;
  -ms-flex-preferred-size: 6rem;
  flex-basis: 6rem;
}

.flex-basis-7 {
  -webkit-flex-basis: 7rem;
  -ms-flex-preferred-size: 7rem;
  flex-basis: 7rem;
}

.flex-basis-8 {
  -webkit-flex-basis: 8rem;
  -ms-flex-preferred-size: 8rem;
  flex-basis: 8rem;
}

.flex-basis-9 {
  -webkit-flex-basis: 9rem;
  -ms-flex-preferred-size: 9rem;
  flex-basis: 9rem;
}

.flex-basis-10 {
  -webkit-flex-basis: 10rem;
  -ms-flex-preferred-size: 10rem;
  flex-basis: 10rem;
}

.flex-basis-11 {
  -webkit-flex-basis: 11rem;
  -ms-flex-preferred-size: 11rem;
  flex-basis: 11rem;
}

.flex-basis-12 {
  -webkit-flex-basis: 12rem;
  -ms-flex-preferred-size: 12rem;
  flex-basis: 12rem;
}

.flex-basis-13 {
  -webkit-flex-basis: 13rem;
  -ms-flex-preferred-size: 13rem;
  flex-basis: 13rem;
}

.flex-basis-14 {
  -webkit-flex-basis: 14rem;
  -ms-flex-preferred-size: 14rem;
  flex-basis: 14rem;
}

.flex-basis-15 {
  -webkit-flex-basis: 15rem;
  -ms-flex-preferred-size: 15rem;
  flex-basis: 15rem;
}

.flex-basis-16 {
  -webkit-flex-basis: 16rem;
  -ms-flex-preferred-size: 16rem;
  flex-basis: 16rem;
}

.flex-basis-17 {
  -webkit-flex-basis: 17rem;
  -ms-flex-preferred-size: 17rem;
  flex-basis: 17rem;
}

.flex-basis-18 {
  -webkit-flex-basis: 18rem;
  -ms-flex-preferred-size: 18rem;
  flex-basis: 18rem;
}

.flex-basis-19 {
  -webkit-flex-basis: 19rem;
  -ms-flex-preferred-size: 19rem;
  flex-basis: 19rem;
}

.flex-basis-20 {
  -webkit-flex-basis: 20rem;
  -ms-flex-preferred-size: 20rem;
  flex-basis: 20rem;
}

.flex-basis-21 {
  -webkit-flex-basis: 21rem;
  -ms-flex-preferred-size: 21rem;
  flex-basis: 21rem;
}

.flex-basis-22 {
  -webkit-flex-basis: 22rem;
  -ms-flex-preferred-size: 22rem;
  flex-basis: 22rem;
}

.flex-basis-23 {
  -webkit-flex-basis: 23rem;
  -ms-flex-preferred-size: 23rem;
  flex-basis: 23rem;
}

.flex-basis-24 {
  -webkit-flex-basis: 24rem;
  -ms-flex-preferred-size: 24rem;
  flex-basis: 24rem;
}

.flex-basis-25 {
  -webkit-flex-basis: 25rem;
  -ms-flex-preferred-size: 25rem;
  flex-basis: 25rem;
}

.flex-basis-26 {
  -webkit-flex-basis: 26rem;
  -ms-flex-preferred-size: 26rem;
  flex-basis: 26rem;
}

.flex-basis-27 {
  -webkit-flex-basis: 27rem;
  -ms-flex-preferred-size: 27rem;
  flex-basis: 27rem;
}

.flex-basis-28 {
  -webkit-flex-basis: 28rem;
  -ms-flex-preferred-size: 28rem;
  flex-basis: 28rem;
}

.flex-basis-29 {
  -webkit-flex-basis: 29rem;
  -ms-flex-preferred-size: 29rem;
  flex-basis: 29rem;
}

.flex-basis-30 {
  -webkit-flex-basis: 30rem;
  -ms-flex-preferred-size: 30rem;
  flex-basis: 30rem;
}

.flex-basis-31 {
  -webkit-flex-basis: 31rem;
  -ms-flex-preferred-size: 31rem;
  flex-basis: 31rem;
}

.flex-basis-32 {
  -webkit-flex-basis: 32rem;
  -ms-flex-preferred-size: 32rem;
  flex-basis: 32rem;
}

.flex-basis-33 {
  -webkit-flex-basis: 33rem;
  -ms-flex-preferred-size: 33rem;
  flex-basis: 33rem;
}

.flex-basis-34 {
  -webkit-flex-basis: 34rem;
  -ms-flex-preferred-size: 34rem;
  flex-basis: 34rem;
}

.flex-basis-35 {
  -webkit-flex-basis: 35rem;
  -ms-flex-preferred-size: 35rem;
  flex-basis: 35rem;
}

.flex-basis-36 {
  -webkit-flex-basis: 36rem;
  -ms-flex-preferred-size: 36rem;
  flex-basis: 36rem;
}

.flex-basis-37 {
  -webkit-flex-basis: 37rem;
  -ms-flex-preferred-size: 37rem;
  flex-basis: 37rem;
}

.flex-basis-38 {
  -webkit-flex-basis: 38rem;
  -ms-flex-preferred-size: 38rem;
  flex-basis: 38rem;
}

.flex-basis-39 {
  -webkit-flex-basis: 39rem;
  -ms-flex-preferred-size: 39rem;
  flex-basis: 39rem;
}

.flex-basis-40 {
  -webkit-flex-basis: 40rem;
  -ms-flex-preferred-size: 40rem;
  flex-basis: 40rem;
}

.flex-basis-41 {
  -webkit-flex-basis: 41rem;
  -ms-flex-preferred-size: 41rem;
  flex-basis: 41rem;
}

.flex-basis-42 {
  -webkit-flex-basis: 42rem;
  -ms-flex-preferred-size: 42rem;
  flex-basis: 42rem;
}

.flex-basis-43 {
  -webkit-flex-basis: 43rem;
  -ms-flex-preferred-size: 43rem;
  flex-basis: 43rem;
}

.flex-basis-44 {
  -webkit-flex-basis: 44rem;
  -ms-flex-preferred-size: 44rem;
  flex-basis: 44rem;
}

.flex-basis-45 {
  -webkit-flex-basis: 45rem;
  -ms-flex-preferred-size: 45rem;
  flex-basis: 45rem;
}

.flex-basis-46 {
  -webkit-flex-basis: 46rem;
  -ms-flex-preferred-size: 46rem;
  flex-basis: 46rem;
}

.flex-basis-47 {
  -webkit-flex-basis: 47rem;
  -ms-flex-preferred-size: 47rem;
  flex-basis: 47rem;
}

.flex-basis-48 {
  -webkit-flex-basis: 48rem;
  -ms-flex-preferred-size: 48rem;
  flex-basis: 48rem;
}

.flex-basis-49 {
  -webkit-flex-basis: 49rem;
  -ms-flex-preferred-size: 49rem;
  flex-basis: 49rem;
}

.flex-basis-50 {
  -webkit-flex-basis: 50rem;
  -ms-flex-preferred-size: 50rem;
  flex-basis: 50rem;
}

.flex-basis-0p {
  -webkit-flex-basis: 0%;
  -ms-flex-preferred-size: 0%;
  flex-basis: 0%;
}

.flex-basis-1p {
  -webkit-flex-basis: 1%;
  -ms-flex-preferred-size: 1%;
  flex-basis: 1%;
}

.flex-basis-2p {
  -webkit-flex-basis: 2%;
  -ms-flex-preferred-size: 2%;
  flex-basis: 2%;
}

.flex-basis-3p {
  -webkit-flex-basis: 3%;
  -ms-flex-preferred-size: 3%;
  flex-basis: 3%;
}

.flex-basis-4p {
  -webkit-flex-basis: 4%;
  -ms-flex-preferred-size: 4%;
  flex-basis: 4%;
}

.flex-basis-5p {
  -webkit-flex-basis: 5%;
  -ms-flex-preferred-size: 5%;
  flex-basis: 5%;
}

.flex-basis-6p {
  -webkit-flex-basis: 6%;
  -ms-flex-preferred-size: 6%;
  flex-basis: 6%;
}

.flex-basis-7p {
  -webkit-flex-basis: 7%;
  -ms-flex-preferred-size: 7%;
  flex-basis: 7%;
}

.flex-basis-8p {
  -webkit-flex-basis: 8%;
  -ms-flex-preferred-size: 8%;
  flex-basis: 8%;
}

.flex-basis-9p {
  -webkit-flex-basis: 9%;
  -ms-flex-preferred-size: 9%;
  flex-basis: 9%;
}

.flex-basis-10p {
  -webkit-flex-basis: 10%;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

.flex-basis-11p {
  -webkit-flex-basis: 11%;
  -ms-flex-preferred-size: 11%;
  flex-basis: 11%;
}

.flex-basis-12p {
  -webkit-flex-basis: 12%;
  -ms-flex-preferred-size: 12%;
  flex-basis: 12%;
}

.flex-basis-13p {
  -webkit-flex-basis: 13%;
  -ms-flex-preferred-size: 13%;
  flex-basis: 13%;
}

.flex-basis-14p {
  -webkit-flex-basis: 14%;
  -ms-flex-preferred-size: 14%;
  flex-basis: 14%;
}

.flex-basis-15p {
  -webkit-flex-basis: 15%;
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.flex-basis-16p {
  -webkit-flex-basis: 16%;
  -ms-flex-preferred-size: 16%;
  flex-basis: 16%;
}

.flex-basis-17p {
  -webkit-flex-basis: 17%;
  -ms-flex-preferred-size: 17%;
  flex-basis: 17%;
}

.flex-basis-18p {
  -webkit-flex-basis: 18%;
  -ms-flex-preferred-size: 18%;
  flex-basis: 18%;
}

.flex-basis-19p {
  -webkit-flex-basis: 19%;
  -ms-flex-preferred-size: 19%;
  flex-basis: 19%;
}

.flex-basis-20p {
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.flex-basis-21p {
  -webkit-flex-basis: 21%;
  -ms-flex-preferred-size: 21%;
  flex-basis: 21%;
}

.flex-basis-22p {
  -webkit-flex-basis: 22%;
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
}

.flex-basis-23p {
  -webkit-flex-basis: 23%;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
}

.flex-basis-24p {
  -webkit-flex-basis: 24%;
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
}

.flex-basis-25p {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.flex-basis-26p {
  -webkit-flex-basis: 26%;
  -ms-flex-preferred-size: 26%;
  flex-basis: 26%;
}

.flex-basis-27p {
  -webkit-flex-basis: 27%;
  -ms-flex-preferred-size: 27%;
  flex-basis: 27%;
}

.flex-basis-28p {
  -webkit-flex-basis: 28%;
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
}

.flex-basis-29p {
  -webkit-flex-basis: 29%;
  -ms-flex-preferred-size: 29%;
  flex-basis: 29%;
}

.flex-basis-30p {
  -webkit-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.flex-basis-31p {
  -webkit-flex-basis: 31%;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
}

.flex-basis-32p {
  -webkit-flex-basis: 32%;
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
}

.flex-basis-33p {
  -webkit-flex-basis: 33%;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}

.flex-basis-34p {
  -webkit-flex-basis: 34%;
  -ms-flex-preferred-size: 34%;
  flex-basis: 34%;
}

.flex-basis-35p {
  -webkit-flex-basis: 35%;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
}

.flex-basis-36p {
  -webkit-flex-basis: 36%;
  -ms-flex-preferred-size: 36%;
  flex-basis: 36%;
}

.flex-basis-37p {
  -webkit-flex-basis: 37%;
  -ms-flex-preferred-size: 37%;
  flex-basis: 37%;
}

.flex-basis-38p {
  -webkit-flex-basis: 38%;
  -ms-flex-preferred-size: 38%;
  flex-basis: 38%;
}

.flex-basis-39p {
  -webkit-flex-basis: 39%;
  -ms-flex-preferred-size: 39%;
  flex-basis: 39%;
}

.flex-basis-40p {
  -webkit-flex-basis: 40%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.flex-basis-41p {
  -webkit-flex-basis: 41%;
  -ms-flex-preferred-size: 41%;
  flex-basis: 41%;
}

.flex-basis-42p {
  -webkit-flex-basis: 42%;
  -ms-flex-preferred-size: 42%;
  flex-basis: 42%;
}

.flex-basis-43p {
  -webkit-flex-basis: 43%;
  -ms-flex-preferred-size: 43%;
  flex-basis: 43%;
}

.flex-basis-44p {
  -webkit-flex-basis: 44%;
  -ms-flex-preferred-size: 44%;
  flex-basis: 44%;
}

.flex-basis-45p {
  -webkit-flex-basis: 45%;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.flex-basis-46p {
  -webkit-flex-basis: 46%;
  -ms-flex-preferred-size: 46%;
  flex-basis: 46%;
}

.flex-basis-47p {
  -webkit-flex-basis: 47%;
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
}

.flex-basis-48p {
  -webkit-flex-basis: 48%;
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
}

.flex-basis-49p {
  -webkit-flex-basis: 49%;
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
}

.flex-basis-50p {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.flex-basis-51p {
  -webkit-flex-basis: 51%;
  -ms-flex-preferred-size: 51%;
  flex-basis: 51%;
}

.flex-basis-52p {
  -webkit-flex-basis: 52%;
  -ms-flex-preferred-size: 52%;
  flex-basis: 52%;
}

.flex-basis-53p {
  -webkit-flex-basis: 53%;
  -ms-flex-preferred-size: 53%;
  flex-basis: 53%;
}

.flex-basis-54p {
  -webkit-flex-basis: 54%;
  -ms-flex-preferred-size: 54%;
  flex-basis: 54%;
}

.flex-basis-55p {
  -webkit-flex-basis: 55%;
  -ms-flex-preferred-size: 55%;
  flex-basis: 55%;
}

.flex-basis-56p {
  -webkit-flex-basis: 56%;
  -ms-flex-preferred-size: 56%;
  flex-basis: 56%;
}

.flex-basis-57p {
  -webkit-flex-basis: 57%;
  -ms-flex-preferred-size: 57%;
  flex-basis: 57%;
}

.flex-basis-58p {
  -webkit-flex-basis: 58%;
  -ms-flex-preferred-size: 58%;
  flex-basis: 58%;
}

.flex-basis-59p {
  -webkit-flex-basis: 59%;
  -ms-flex-preferred-size: 59%;
  flex-basis: 59%;
}

.flex-basis-60p {
  -webkit-flex-basis: 60%;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}

.flex-basis-61p {
  -webkit-flex-basis: 61%;
  -ms-flex-preferred-size: 61%;
  flex-basis: 61%;
}

.flex-basis-62p {
  -webkit-flex-basis: 62%;
  -ms-flex-preferred-size: 62%;
  flex-basis: 62%;
}

.flex-basis-63p {
  -webkit-flex-basis: 63%;
  -ms-flex-preferred-size: 63%;
  flex-basis: 63%;
}

.flex-basis-64p {
  -webkit-flex-basis: 64%;
  -ms-flex-preferred-size: 64%;
  flex-basis: 64%;
}

.flex-basis-65p {
  -webkit-flex-basis: 65%;
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
}

.flex-basis-66p {
  -webkit-flex-basis: 66%;
  -ms-flex-preferred-size: 66%;
  flex-basis: 66%;
}

.flex-basis-67p {
  -webkit-flex-basis: 67%;
  -ms-flex-preferred-size: 67%;
  flex-basis: 67%;
}

.flex-basis-68p {
  -webkit-flex-basis: 68%;
  -ms-flex-preferred-size: 68%;
  flex-basis: 68%;
}

.flex-basis-69p {
  -webkit-flex-basis: 69%;
  -ms-flex-preferred-size: 69%;
  flex-basis: 69%;
}

.flex-basis-70p {
  -webkit-flex-basis: 70%;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}

.flex-basis-71p {
  -webkit-flex-basis: 71%;
  -ms-flex-preferred-size: 71%;
  flex-basis: 71%;
}

.flex-basis-72p {
  -webkit-flex-basis: 72%;
  -ms-flex-preferred-size: 72%;
  flex-basis: 72%;
}

.flex-basis-73p {
  -webkit-flex-basis: 73%;
  -ms-flex-preferred-size: 73%;
  flex-basis: 73%;
}

.flex-basis-74p {
  -webkit-flex-basis: 74%;
  -ms-flex-preferred-size: 74%;
  flex-basis: 74%;
}

.flex-basis-75p {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}

.flex-basis-76p {
  -webkit-flex-basis: 76%;
  -ms-flex-preferred-size: 76%;
  flex-basis: 76%;
}

.flex-basis-77p {
  -webkit-flex-basis: 77%;
  -ms-flex-preferred-size: 77%;
  flex-basis: 77%;
}

.flex-basis-78p {
  -webkit-flex-basis: 78%;
  -ms-flex-preferred-size: 78%;
  flex-basis: 78%;
}

.flex-basis-79p {
  -webkit-flex-basis: 79%;
  -ms-flex-preferred-size: 79%;
  flex-basis: 79%;
}

.flex-basis-80p {
  -webkit-flex-basis: 80%;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
}

.flex-basis-81p {
  -webkit-flex-basis: 81%;
  -ms-flex-preferred-size: 81%;
  flex-basis: 81%;
}

.flex-basis-82p {
  -webkit-flex-basis: 82%;
  -ms-flex-preferred-size: 82%;
  flex-basis: 82%;
}

.flex-basis-83p {
  -webkit-flex-basis: 83%;
  -ms-flex-preferred-size: 83%;
  flex-basis: 83%;
}

.flex-basis-84p {
  -webkit-flex-basis: 84%;
  -ms-flex-preferred-size: 84%;
  flex-basis: 84%;
}

.flex-basis-85p {
  -webkit-flex-basis: 85%;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
}

.flex-basis-86p {
  -webkit-flex-basis: 86%;
  -ms-flex-preferred-size: 86%;
  flex-basis: 86%;
}

.flex-basis-87p {
  -webkit-flex-basis: 87%;
  -ms-flex-preferred-size: 87%;
  flex-basis: 87%;
}

.flex-basis-88p {
  -webkit-flex-basis: 88%;
  -ms-flex-preferred-size: 88%;
  flex-basis: 88%;
}

.flex-basis-89p {
  -webkit-flex-basis: 89%;
  -ms-flex-preferred-size: 89%;
  flex-basis: 89%;
}

.flex-basis-90p {
  -webkit-flex-basis: 90%;
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
}

.flex-basis-91p {
  -webkit-flex-basis: 91%;
  -ms-flex-preferred-size: 91%;
  flex-basis: 91%;
}

.flex-basis-92p {
  -webkit-flex-basis: 92%;
  -ms-flex-preferred-size: 92%;
  flex-basis: 92%;
}

.flex-basis-93p {
  -webkit-flex-basis: 93%;
  -ms-flex-preferred-size: 93%;
  flex-basis: 93%;
}

.flex-basis-94p {
  -webkit-flex-basis: 94%;
  -ms-flex-preferred-size: 94%;
  flex-basis: 94%;
}

.flex-basis-95p {
  -webkit-flex-basis: 95%;
  -ms-flex-preferred-size: 95%;
  flex-basis: 95%;
}

.flex-basis-96p {
  -webkit-flex-basis: 96%;
  -ms-flex-preferred-size: 96%;
  flex-basis: 96%;
}

.flex-basis-97p {
  -webkit-flex-basis: 97%;
  -ms-flex-preferred-size: 97%;
  flex-basis: 97%;
}

.flex-basis-98p {
  -webkit-flex-basis: 98%;
  -ms-flex-preferred-size: 98%;
  flex-basis: 98%;
}

.flex-basis-99p {
  -webkit-flex-basis: 99%;
  -ms-flex-preferred-size: 99%;
  flex-basis: 99%;
}

.flex-basis-100p {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

/*--------------------------------------------------------------------*/
.flex > .flex, .flex .flex-0, [flex] > .flex, [flex] .flex-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.flex > .flex-1, [flex] > .flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*--------------------------------*/
.align-self {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* auto */
.align-self-auto {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/* flex-start */
.align-self-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* flex-end */
.align-self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

/* center */
.align-self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

/* baseline */
.align-self-baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

/* stretch */
.align-self-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
