.background-clip(@clip) {
    -moz-background-clip: @clip;
    -webkit-background-clip: @clip;
    background-clip: @clip;
}

.background-image-linear-gradient(@gradient) {
    background-image: -moz-linear-gradient(@gradient);
    background-image: -ms-linear-gradient(@gradient);
    background-image: -o-linear-gradient(@gradient);
    background-image: -webkit-linear-gradient(@gradient);
}

.background-image-vertical-gradient(@from, @to) {
    background: ((@from + @to) / 2);
    .background-image-linear-gradient(~'top, @{from}, @{to}');
}

.border-radius(@radius) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.border-top-left-radius(@radius) {
    -moz-border-radius-topleft: @radius;
    -webkit-border-top-left-radius: @radius;
    border-top-left-radius: @radius;
}

.border-top-right-radius(@radius) {
    -moz-border-radius-topright: @radius;
    -webkit-border-top-right-radius: @radius;
    border-top-right-radius: @radius;
}

.border-bottom-left-radius(@radius) {
    -moz-border-radius-bottomleft: @radius;
    -webkit-border-bottom-left-radius: @radius;
    border-bottom-left-radius: @radius;
}

.border-bottom-right-radius(@radius) {
    -moz-border-radius-bottomright: @radius;
    -webkit-border-bottom-right-radius: @radius;
    border-bottom-right-radius: @radius;
}

.box-shadow(@shadow) {
    -moz-box-shadow: @shadow;
    -webkit-box-shadow: @shadow;
    box-shadow: @shadow;
}

.box-sizing(@sizing) {
    -moz-box-sizing: @sizing;
    -webkit-box-sizing: @sizing;
    box-sizing: @sizing;
}

.opacity(@opacity) {
    @ieOpacity: (@opacity * 100);
    filter: alpha(opacity=@ieOpacity);
    opacity: @opacity;
}

.transform(@transform) {
    -moz-transform: @transform;
    -ms-transform: @transform;
    -webkit-transform: @transform;
    transform: @transform;
}

.transform-origin(@origin) {
    -moz-transform-origin: @origin;
    -ms-transform-origin: @origin;
    -webkit-transform-origin: @origin;
    transform-origin: @origin;
}

.transition(@transition) {
    -moz-transition: @transition;
    -o-transition: @transition;
    -webkit-transition: @transition;
    transition: @transition;
}

.transition-delay(@delay) {
    -moz-transition-delay: @delay;
    -o-transition-delay: @delay;
    -webkit-transition-delay: @delay;
    transition-delay: @delay;
}

.transition-duration(@duration) {
    -moz-transition-duration: @duration;
    -o-transition-duration: @duration;
    -webkit-transition-duration: @duration;
    transition-duration: @duration;
}

.transition-property(@property) {
    -moz-transition-property: @property;
    -o-transition-property: @property;
    -webkit-transition-property: @property;
    transition-property: @property;
}

.transition-timing-function(@function) {
    -moz-transition-timing-function: @function;
    -o-transition-timing-function: @function;
    -webkit-transition-timing-function: @function;
    transition-timing-function: @function;
}

.user-select(@value) {
    -moz-user-select: @value;
    -ms-user-select: @value;
    -o-user-select: @value;
    -webkit-user-select: @value;
    user-select: @value;
}
