/* border-box*/
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Floating fix*/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body{
	margin: 0 auto;
	padding: 0px auto;
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-weight:800;
	font-size:50px;
}

h2{
	font-size:24px;
	font-weight:300;
}

header{
	background: url('../images/Nike Liberty.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 850px;
  	padding-top:1px;
}

.data{
	background:rgba(255,255,255,0.6);
	margin: 225px 30% 0% 30%;
	padding: 5%;
	text-align:center;
}

button{
	border:none;
	padding: 15px 65px 15px 65px;
}

.style1{
		background:rgba(247,165,65,0.8);
	}

.style2{
	background:rgba(13, 79, 139,0.8);
}

a{
	outline:none;
	text-decoration: none;
	color: inherit;
}

.shadow{
	  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}

ul{
	list-style:none;
	margin: 0 auto;
	padding: 0 auto;
}
li{
	display:inline-block;
	padding: 1% 2% 1% 2%;
	font-size: 16px;

}


