body {
  background-color: #f4f1ea;
  background-image: 
    linear-gradient(90deg, 
      rgba(73, 73, 73, 0.5) 0, 
      rgba(73, 73, 73, 0.5) 2%, 
      transparent 2%
    ), 
    linear-gradient(180deg, 
      #ffffff 50%, 
      transparent 50%
    ), 
    linear-gradient(90deg, 
      transparent 50%, 
      rgba(73, 73, 73, 0.5) 50%, 
      rgba(73, 73, 73, 0.5) 52%, 
      transparent 52%
    ), 
    linear-gradient(180deg, 
      #ffffff 70%, 
      transparent 70%
    ), 
    linear-gradient(90deg, 
      transparent 10%,
      rgba(73, 73, 73, 0.4) 10%, 
      rgba(73, 73, 73, 0.4) 12%, 
      transparent 12%, 
      
      transparent 20%,
      rgba(73, 73, 73, 0.4) 20%, 
      rgba(73, 73, 73, 0.4) 22%, 
      transparent 22%, 
      
      transparent 30%, 
      rgba(73, 73, 73, 0.4) 30%,
      rgba(73, 73, 73, 0.4) 32%, 
      transparent 32%, 
      
      transparent 40%, 
      rgba(73, 73, 73, 0.4) 40%, 
      rgba(73, 73, 73, 0.4) 42%, 
      transparent 42%, 
      
      transparent 60%, 
      rgba(73, 73, 73, 0.4) 60%, 
      rgba(73, 73, 73, 0.4) 62%, 
      transparent 62%, 
      
      transparent 70%, 
      rgba(73, 73, 73, 0.4) 70%, 
      rgba(73, 73, 73, 0.4) 72%, 
      transparent 72%, 
      
      transparent 80%, 
      rgba(73, 73, 73, 0.4) 80%, 
      rgba(73, 73, 73, 0.4) 82%, 
      transparent 82%, 
      
      transparent 90%, 
      rgba(73, 73, 73, 0.4) 90%, 
      rgba(73, 73, 73, 0.4) 92%, 
      transparent 92%
    );
  background-size: 50px 20px;
  background-repeat: repeat-x;
  min-height: 20px;
  
  /* only needed for labels */
  white-space:nowrap;
  font-size:0;
  margin:0;
  padding:0;
}
label {
  font-size:9px;
  padding-top:2px;
  display:inline-block;
  width:50px;
  text-indent:0px;

}
div{
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-family: sans-serif;
    padding-top: 2px;
}
.fixed{
	position: fixed;
	top:20px;
	left: 0;
	right: 0;
}

#event{
    background-color: gold;
    color:black;
}  
    

.king{
    font-style: italic;
    font-weight: bold;
   
}

#arryn{
    background-color:#0983df;
    color:white;
    position: relative;
    
   
}
#baelish{
    background-color:#037a03;
    color:#ededed;
    position: relative;
    
   
}
#baratheon{
    background-color:#eecf09;
    color:black;
    position: relative;
    
   
}
#blackfyre{
    background-color:red;
    color:black;
    position: relative;
    
   
}
#bolton{
    background-color:#ff93ca;
    color:#e14233;
    position: relative;
    
   
}
#bronn{
    background-color:#676767;
    color:#00c000;
    position: relative;
    
   
}
#clegane{
    background-color:yellow;
    color:black;
    position: relative;
    
   
}
#connington{
    background-color:white;
    color:red;
    position: relative;
    
   
}
#corbray{
    background-color:white;
    color:black;
    position: relative;
    
   
}
#dayne{
    background-color:#b378d4;
    color:silver;
    position: relative;
    
   
}
#dondarrion{
    background-color:black;
    color:purple;
    position: relative;
    
   
}
#duncan{
    background-color:white;
    color:black;
    position: relative;
    
   
}
#estermont{
    background-color:#98fb98;
    color:#006400;
    position: relative;
    
   
}
#frey{
    background-color:silver;
    color:#1f43eb;
    position: relative;
    
   
}
#greyjoy{
    background-color:black;
    color:gold;
    position: relative;
    
   
}
#hardyng{
    background-color:#e14334;
    color:white;
    position: relative;
    
   
}
#karstark{
    background-color:black;
    color:white;
    position: relative;
    
   
}
#lannister{
    background-color:#990000;
    color:#ffe53b;
    position: relative;
    
   
}
#maester{
    background-color:silver;
    color:white;
    position: relative;
    
   
}
#mallister{
    background-color:#650099;
    color:silver;
    position: relative;
    
   
}
#manderly{
    background-color:#019da9;
    color:#004f00;
    position: relative;
    
   
}
#martell{
    background-color:#f28b16;
    color:#cf2727;
    position: relative;
    
   
}
#mormont{
    background-color:#3c843c;
    color:black;
    position: relative;
    
   
}
#noye{
    background-color:black;
    color:white;
    position: relative;
    
   
}
#redwyne{
    background-color:#2d35aa;
    color:#8b0064;
    position: relative;
    
   
}
#reed{
    background-color:#63906b;
    color:black;
    position: relative;
    
   
}
#royce{
    background-color:#d4603b;
    color:#2d2d2d;
    position: relative;
    
   
}
#seaworth{
    background-color:#5d5d5d;
    color:black;
    position: relative;
    
   
}
#selmy{
    background-color:white;
    color:black;
    position: relative;
    
   
}
#slynt{
    background-color:black;
    color:white;
    position: relative;
    
   
}
#stark{
    background-color:white;
    color:#909090;
    position: relative;
    
   
}
#stokeworth{
    background-color:#009800;
    color:white;
    position: relative;
    
   
}
#targaryen{
    background-color:black;
    color:red;
    position: relative;
    
   
}
#tarly{
    background-color:#009800;
    color:#e14333;
    position: relative;
    
   
}
#tarth{
    background-color:#ff007f;
    color:#0000ff;
    position: relative;
    
   
}
#tully{
    background-color:#0909c0;
    color:#ae1616;
    position: relative;
    
   
}
#tyrell{
    background-color:#0a840a;
    color:gold;
    position: relative;
    
   
}
#westerling{
    background-color:#ead99e;
    color:silver;
    position: relative;
    
   
}
#whent{
    background-color:yellow;
    color:black;
    position: relative;
    
   
}
#bittersteel{
    background-color:#d5ac1d;
    color:red;
    position: relative;
    
   
}
#bloodraven{
    background-color:black;
    color:white;
    position: relative;
    
   
}
#thorne{
    background-color:black;
    color:white;
    position: relative;
    
   
}
#thorne{
    background-color:black;
    color:white;
    position: relative;
    
   
}
#hotah{
    background-color:#f28b16;
    color:#cf2727;
    position: relative;
    
   
}
#sand{
    background-color:#cf2727;
    color:#f28b16;
    position: relative;
    
   
}
#myastone{
    background-color:#d3a730;
    color:#a034a0;
    position: relative;
    
   
}
#flowers{
    background-color:#cfaf7b;
    color:blue;
    position: relative;
    
   
}
#jonsnow{
    background-color:black;
    color:white;
    position: relative;
    
   
}
#storm{
    background-color:black;
    color:#eecf09;
    position: relative;
    
   
}
#hollard{
    background-color:pink;
    color:red;
    position: relative;
    
   
}



.visenya{position: absolute; margin-top: 2px; top:20px; left:110px;}
.aegon1{position: relative; margin-top: 2px; top:20px; left:130px;}
.rhaenys{position: relative; margin-top: 2px; top:20px; left:140px;}
.conquest{position: relative; margin-top: 2px; top:20px; left:380px;}
.dorne1{position: relative; margin-top: 2px; top:20px; left:440px;}
.aenys1{position: relative; margin-top: 2px; top:20px; left:470px;}
.maegor1{position: relative; margin-top: 2px; top:20px; left:520px;}
.jeyne1{position: relative; margin-top: 2px; top:20px; left:670px;}
.jaehaerys1{position: relative; margin-top: 2px; top:20px; left:740px;}
.alysanne{position: relative; margin-top: 2px; top:20px; left:760px;}
.faith{position: relative; margin-top: 2px; top:20px; left:810px;}
.aemon1{position: relative; margin-top: 2px; top:20px; left:920px;}
.viserys1{position: relative; margin-top: 2px; top:20px; left:1170px;}
.rhaenyra1{position: relative; margin-top: 2px; top:20px; left:1370px;}
.council1{position: relative; margin-top: 2px; top:20px; left:1410px;}
.aegon2{position: relative; margin-top: 2px; top:20px; left:1470px;}
.daeron1{position: relative; margin-top: 2px; top:20px; left:1540px;}
.aegon3{position: relative; margin-top: 2px; top:20px; left:1600px;}
.viserys2{position: relative; margin-top: 2px; top:20px; left:1620px;}
.dance{position: relative; margin-top: 2px; top:20px; left:1690px;}
.aegon4{position: relative; margin-top: 2px; top:20px; left:1750px;}
.aemon2{position: relative; margin-top: 2px; top:20px; left:1760px;}
.naerys{position: relative; margin-top: 2px; top:20px; left:1780px;}
.daeron2{position: relative; margin-top: 2px; top:20px; left:1830px;}
.baelor1{position: relative; margin-top: 2px; top:20px; left:1840px;}
.dorne2{position: relative; margin-top: 2px; top:20px; left:1870px;}
.daeron3{position: relative; margin-top: 2px; top:20px; left:1930px;}
.daemon1{position: relative; margin-top: 2px; top:20px; left:2100px;}
.baelor2{position: relative; margin-top: 2px; top:20px; left:2100px;}
.aerys1{position: relative; margin-top: 2px; top:20px; left:2120px;}
.bittersteel{position: relative; margin-top: 2px; top:20px; left:2120px;}
.maekar1{position: relative; margin-top: 2px; top:20px; left:2140px;}
.bloodraven{position: relative; margin-top: 2px; top:20px; left:2150px;}
.daemon2{position: relative; margin-top: 2px; top:20px; left:2280px;}
.aerion{position: relative; margin-top: 2px; top:20px; left:2310px;}
.serduncan{position: relative; margin-top: 2px; top:20px; left:2310px;}
.blackfyre1{position: relative; margin-top: 2px; top:20px; left:2360px;}
.aemon3{position: relative; margin-top: 2px; top:20px; left:2380px;}
.aegon5{position: relative; margin-top: 2px; top:20px; left:2400px;}
.walder1{position: relative; margin-top: 2px; top:20px; left:2480px;}
.maelys{position: relative; margin-top: 2px; top:20px; left:2500px;}
.blackfyre2{position: relative; margin-top: 2px; top:20px; left:2510px;}
.pycelle{position: relative; margin-top: 2px; top:20px; left:2560px;}
.jonarryn{position: relative; margin-top: 2px; top:20px; left:2570px;}
.blackfyre3{position: relative; margin-top: 2px; top:20px; left:2590px;}
.duncan{position: relative; margin-top: 2px; top:20px; left:2600px;}
.tytos{position: relative; margin-top: 2px; top:20px; left:2600px;}
.jaehaerys2{position: relative; margin-top: 2px; top:20px; left:2650px;}
.eldon{position: relative; margin-top: 2px; top:20px; left:2680px;}
.olenna{position: relative; margin-top: 2px; top:20px; left:2680px;}
.rickard{position: relative; margin-top: 2px; top:20px; left:2700px;}
.jeor{position: relative; margin-top: 2px; top:20px; left:2700px;}
.council2{position: relative; margin-top: 2px; top:20px; left:2730px;}
.stevron{position: relative; margin-top: 2px; top:20px; left:2730px;}
.blackfyre4{position: relative; margin-top: 2px; top:20px; left:2760px;}
.barristan{position: relative; margin-top: 2px; top:20px; left:2760px;}
.hoster{position: relative; margin-top: 2px; top:20px; left:2770px;}
.emmon{position: relative; margin-top: 2px; top:20px; left:2770px;}
.wyman{position: relative; margin-top: 2px; top:20px; left:2790px;}
.aenysfrey{position: relative; margin-top: 2px; top:20px; left:2800px;}
.tywin{position: relative; margin-top: 2px; top:20px; left:2820px;}
.blackfish{position: relative; margin-top: 2px; top:20px; left:2820px;}
.maege{position: relative; margin-top: 2px; top:20px; left:2820px;}
.aerys2{position: relative; margin-top: 2px; top:20px; left:2840px;}
.donal{position: relative; margin-top: 2px; top:20px; left:2840px;}
.kevan{position: relative; margin-top: 2px; top:20px; left:2840px;}
.joanna{position: relative; margin-top: 2px; top:20px; left:2850px;}
.rhaella{position: relative; margin-top: 2px; top:20px; left:2850px;}
.denys{position: relative; margin-top: 2px; top:20px; left:2850px;}
.genna{position: relative; margin-top: 2px; top:20px; left:2850px;}
.selwyn{position: relative; margin-top: 2px; top:20px; left:2850px;}
.cassana{position: relative; margin-top: 2px; top:20px; left:2860px;}
.steffon{position: relative; margin-top: 2px; top:20px; left:2860px;}
.stafford{position: relative; margin-top: 2px; top:20px; left:2860px;}
.ryman{position: relative; margin-top: 2px; top:20px; left:2860px;}
.doran{position: relative; margin-top: 2px; top:20px; left:2870px;}
.alliser{position: relative; margin-top: 2px; top:20px; left:2880px;}
.aegonfrey{position: relative; margin-top: 2px; top:20px; left:2890px;}
.minisa{position: relative; margin-top: 2px; top:20px; left:2900px;}
.tygett{position: relative; margin-top: 2px; top:20px; left:2900px;}
.randyll{position: relative; margin-top: 2px; top:20px; left:2900px;}
.dacey{position: relative; margin-top: 2px; top:20px; left:2920px;}
.wylis{position: relative; margin-top: 2px; top:20px; left:2920px;}
.jorah{position: relative; margin-top: 2px; top:20px; left:2940px;}
.gerion{position: relative; margin-top: 2px; top:20px; left:2950px;}
.elia{position: relative; margin-top: 2px; top:20px; left:2960px;}
.balon{position: relative; margin-top: 2px; top:20px; left:2960px;}
.mace{position: relative; margin-top: 2px; top:20px; left:2960px;}
.oberyn{position: relative; margin-top: 2px; top:20px; left:2970px;}
.areo{position: relative; margin-top: 2px; top:20px; left:2970px;}
.damion{position: relative; margin-top: 2px; top:20px; left:2970px;}
.cleos{position: relative; margin-top: 2px; top:20px; left:2980px;}
.summerhall{position: relative; margin-top: 2px; top:20px; left:2990px;}
.rhaegar{position: relative; margin-top: 2px; top:20px; left:2990px;}
.edwyn{position: relative; margin-top: 2px; top:20px; left:2990px;}
.ninepenny{position: relative; margin-top: 2px; top:20px; left:3000px;}
.arthur{position: relative; margin-top: 2px; top:20px; left:3000px;}
.janos{position: relative; margin-top: 2px; top:20px; left:3000px;}
.davos{position: relative; margin-top: 2px; top:20px; left:3000px;}
.euron{position: relative; margin-top: 2px; top:20px; left:3000px;}
.howland{position: relative; margin-top: 2px; top:20px; left:3000px;}
.joncon{position: relative; margin-top: 2px; top:20px; left:3000px;}
.lyonel{position: relative; margin-top: 2px; top:20px; left:3000px;}
.roose{position: relative; margin-top: 2px; top:20px; left:3000px;}
.tytosfrey{position: relative; margin-top: 2px; top:20px; left:3010px;}
.dontos{position: relative; margin-top: 2px; top:20px; left:3010px;}
.brandon{position: relative; margin-top: 2px; top:20px; left:3020px;}
.robert{position: relative; margin-top: 2px; top:20px; left:3020px;}
.merrett{position: relative; margin-top: 2px; top:20px; left:3020px;}
.ned{position: relative; margin-top: 2px; top:20px; left:3030px;}
.cat{position: relative; margin-top: 2px; top:20px; left:3040px;}
.bronn{position: relative; margin-top: 2px; top:20px; left:3040px;}
.stannis{position: relative; margin-top: 2px; top:20px; left:3040px;}
.victarion{position: relative; margin-top: 2px; top:20px; left:3040px;}
.ashara{position: relative; margin-top: 2px; top:20px; left:3050px;}
.falyse{position: relative; margin-top: 2px; top:20px; left:3050px;}
.gregor{position: relative; margin-top: 2px; top:20px; left:3050px;}
.lollys{position: relative; margin-top: 2px; top:20px; left:3050px;}
.lyanna{position: relative; margin-top: 2px; top:20px; left:3060px;}
.cersei{position: relative; margin-top: 2px; top:20px; left:3060px;}
.jaime{position: relative; margin-top: 2px; top:20px; left:3060px;}
.beric{position: relative; margin-top: 2px; top:20px; left:3070px;}
.lysa{position: relative; margin-top: 2px; top:20px; left:3070px;}
.benjen{position: relative; margin-top: 2px; top:20px; left:3070px;}
.petyr{position: relative; margin-top: 2px; top:20px; left:3080px;}
.aeron{position: relative; margin-top: 2px; top:20px; left:3090px;}
.allyria{position: relative; margin-top: 2px; top:20px; left:3090px;}
.sandor{position: relative; margin-top: 2px; top:20px; left:3100px;}
.blackwalder{position: relative; margin-top: 2px; top:20px; left:3100px;}
.edmure{position: relative; margin-top: 2px; top:20px; left:3100px;}
.gerold{position: relative; margin-top: 2px; top:20px; left:3100px;}
.willas{position: relative; margin-top: 2px; top:20px; left:3100px;}
.obara{position: relative; margin-top: 2px; top:20px; left:3110px;}
.daven{position: relative; margin-top: 2px; top:20px; left:3130px;}
.tyrion{position: relative; margin-top: 2px; top:20px; left:3130px;}
.nymeria{position: relative; margin-top: 2px; top:20px; left:3140px;}
.ronnet{position: relative; margin-top: 2px; top:20px; left:3140px;}
.asha{position: relative; margin-top: 2px; top:20px; left:3150px;}
.daemonsand{position: relative; margin-top: 2px; top:20px; left:3150px;}
.viserys3{position: relative; margin-top: 2px; top:20px; left:3160px;}
.arianne{position: relative; margin-top: 2px; top:20px; left:3160px;}
.tyene{position: relative; margin-top: 2px; top:20px; left:3160px;}
.duskendale{position: relative; margin-top: 2px; top:20px; left:3170px;}
.renly{position: relative; margin-top: 2px; top:20px; left:3170px;}
.garlan{position: relative; margin-top: 2px; top:20px; left:3170px;}
.waymar{position: relative; margin-top: 2px; top:20px; left:3180px;}
.theon{position: relative; margin-top: 2px; top:20px; left:3180px;}
.domeric{position: relative; margin-top: 2px; top:20px; left:3190px;}
.tion{position: relative; margin-top: 2px; top:20px; left:3190px;}
.mya{position: relative; margin-top: 2px; top:20px; left:3190px;}
.rhaenys2{position: relative; margin-top: 2px; top:20px; left:3200px;}
.brienne{position: relative; margin-top: 2px; top:20px; left:3200px;}
.sarella{position: relative; margin-top: 2px; top:20px; left:3200px;}
.aegon6{position: relative; margin-top: 2px; top:20px; left:3210px;}
.petyrfrey{position: relative; margin-top: 2px; top:20px; left:3210px;}
.quentyn{position: relative; margin-top: 2px; top:20px; left:3210px;}
.falia{position: relative; margin-top: 2px; top:20px; left:3210px;}
.harrold{position: relative; margin-top: 2px; top:20px; left:3210px;}
.rebellion{position: relative; margin-top: 2px; top:20px; left:3220px;}
.lancel{position: relative; margin-top: 2px; top:20px; left:3220px;}
.loras{position: relative; margin-top: 2px; top:20px; left:3220px;}
.ramsay{position: relative; margin-top: 2px; top:20px; left:3220px;}
.roslin{position: relative; margin-top: 2px; top:20px; left:3220px;}
.robb{position: relative; margin-top: 2px; top:20px; left:3230px;}
.jonsnow{position: relative; margin-top: 2px; top:20px; left:3230px;}
.jeyne2{position: relative; margin-top: 2px; top:20px; left:3230px;}
.margaery{position: relative; margin-top: 2px; top:20px; left:3230px;}
.meera{position: relative; margin-top: 2px; top:20px; left:3230px;}
.sam{position: relative; margin-top: 2px; top:20px; left:3230px;}
.alysannek{position: relative; margin-top: 2px; top:20px; left:3240px;}
.daenerys{position: relative; margin-top: 2px; top:20px; left:3240px;}
.willem{position: relative; margin-top: 2px; top:20px; left:3250px;}
.eliasand{position: relative; margin-top: 2px; top:20px; left:3250px;}
.martyn{position: relative; margin-top: 2px; top:20px; left:3250px;}
.tyrek{position: relative; margin-top: 2px; top:20px; left:3260px;}
.joffrey{position: relative; margin-top: 2px; top:20px; left:3260px;}
.jojen{position: relative; margin-top: 2px; top:20px; left:3260px;}
.sansa{position: relative; margin-top: 2px; top:20px; left:3260px;}
.dickon{position: relative; margin-top: 2px; top:20px; left:3270px;}
.edric{position: relative; margin-top: 2px; top:20px; left:3270px;}
.edricstorm{position: relative; margin-top: 2px; top:20px; left:3270px;}
.obella{position: relative; margin-top: 2px; top:20px; left:3270px;}
.trystane{position: relative; margin-top: 2px; top:20px; left:3270px;}
.greyjoy{position: relative; margin-top: 2px; top:20px; left:3290px;}
.arya{position: relative; margin-top: 2px; top:20px; left:3290px;}
.shireen{position: relative; margin-top: 2px; top:20px; left:3290px;}
.bran{position: relative; margin-top: 2px; top:20px; left:3300px;}
.myrcella{position: relative; margin-top: 2px; top:20px; left:3300px;}
.tommen{position: relative; margin-top: 2px; top:20px; left:3310px;}
.sweetrobin{position: relative; margin-top: 2px; top:20px; left:3320px;}
.loreza{position: relative; margin-top: 2px; top:20px; left:3330px;}
.rickon{position: relative; margin-top: 2px; top:20px; left:3350px;}
.kings5{position: relative; margin-top: 2px; top:20px; left:3380px;}
