/* The .program-types list is a horizontal list of buttons */
ul.program-types {
	overflow: auto ;
	padding: 0 ; margin: 0 0 20px 0 ;
	height: 80px ;
	
	li {
		width: 138px ;
		height: 60px ;
		list-style: none ;
		float: left ;
		margin: 0 10px 0 0 ;
		padding: 0 ;
		text-align: center ;
		@include single-transition(all, 0.2s, linear) ;
		@include blue-gradient ;
		&:before {
			content: '';
			display: inline-block;
			height: 100%; 
			vertical-align: middle;
			margin-right: -0.25em;
		}
		&.last {
			margin-right: 0 ;
		}
		&:hover {
			@include single-box-shadow($medium-gray, 0, 0, 8px, false, false) ;
		}
		a {
			position: relative ;
			display: inline-block ;
			vertical-align: middle;
			color: $white ;
			margin: 0 ; 
			padding: 0 10px 0 10px ;
			color: $white !important ;
		}
	} //li
} //ul.program-types