body {
    font-family: helvetica, sans-serif, arial;
    font-size: 11px;
    color: #111;
}

h1 {
    text-align: center;
}

#terminal-container {
    width: 790px;
    height: 380px;
    margin: 0 auto;
    padding: 2px;
}

#terminal-container.terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
}
