.escardante-pagespeed-formcontainer{
    display: table;
    width: 100%;
    margin:0;
    padding:0;
}

.escardante-pagespeed-formcontainer .loading-spinner {
    width: 94px;
    height: 94px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -47px;
    margin-top: -47px;
    display: none;
}
.escardante-pagespeed-cell{
    display: table-cell;
    width: 50%;
    margin:0;
    padding:0;
}

.escardante-pagespeed-cell.form{
    position: relative;
}

.formoid-metro-cyan {
    margin: 0 auto;
}

.formoid-metro-cyan > div,
.formoid-metro-cyan > .title {
    margin: 8px;
}

.formoid-metro-cyan .error-field .required {
    color: #FF9999;
}

.formoid-metro-cyan .error-field input,
.formoid-metro-cyan .error-field input[type=text],
.formoid-metro-cyan .error-field input[type=password],
.formoid-metro-cyan .error-field input[type=email],
.formoid-metro-cyan .error-field input[type=url],
.formoid-metro-cyan .error-field input[type=date],
.formoid-metro-cyan .error-field input[type=number],
.formoid-metro-cyan .error-field input[type=tel],
.formoid-metro-cyan .error-field textarea {
    border: 1px solid #d6d6d6;
    background-color: #F5f5f5;
}

.formoid-metro-cyan label.error {
    display: inline-block;
    font-size: 0.9em;
}

.formoid-metro-cyan .error,
.formoid-metro-cyan .error #recaptcha_widget_div {
    padding: 3px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;

    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #c09853;
}

.formoid-metro-cyan .error h4 {
    color: #b94a48;
    margin: 0;
}

.formoid-metro-cyan .error .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

.formoid-metro-cyan .column {
    float: left;
}

/* width = parseInt(100/columns.length)*/
.formoid-metro-cyan .column1 {
    width: 100%;
}

.formoid-metro-cyan .column2 {
    width: 50%;
}

.formoid-metro-cyan .column3 {
    width: 33%;
}

.formoid-metro-cyan .column4 {
    width: 25%;
}

.formoid-metro-cyan .column5 {
    width: 20%;
}

.formoid-metro-cyan .large {
    width: 100%;
    *width: 94%;
}

.formoid-metro-cyan .medium {
    width: 50%;
    *width: 47%;
}

.formoid-metro-cyan .small {
    width: 25%;
    *width: 23%;
}

.formoid-metro-cyan textarea.large {
    width: 100%;
    *width: 94%;
    height: 20em;
}

.formoid-metro-cyan textarea.medium {
    width: 100%;
    *width: 94%;
    height: 10em;
}

.formoid-metro-cyan textarea.small {
    width: 100%;
    *width: 94%;
    height: 5.5em;
}

/* address select style */
.formoid-metro-cyan .element-address .country {
    position: relative;
}

.frmd {
    display: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.blurBg,
.blurBg-true {
    background-attachment: fixed;
    background-image: -webkit-linear-gradient(5deg, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* linear bottom */ -webkit-radial-gradient(40% 60%, ellipse farthest-side, rgba(255, 255, 255, 0.45) -10%, rgba(255, 255, 255, 0) 100%), /* center white */ -webkit-radial-gradient(50% -10%, circle farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 30%), /* top center white */ -webkit-radial-gradient(100% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* top right white */ -webkit-radial-gradient(0% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 10%), /* top left white */ -webkit-radial-gradient(90% 60%, ellipse farthest-side, rgba(0, 0, 0, 0.35) -10%, rgba(0, 0, 0, 0) 100%), /* center right black */ -webkit-radial-gradient(20% 10%, circle farthest-side, rgba(0, 0, 0, 0.25) -10%, rgba(0, 0, 0, 0) 20%);

    background-image: linear-gradient(85deg, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* linear bottom */ radial-gradient(40% 60%, ellipse farthest-side, rgba(255, 255, 255, 0.45) -10%, rgba(255, 255, 255, 0) 100%), /* center white */ radial-gradient(50% -10%, circle farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 30%), /* top center white */ radial-gradient(100% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 20%), /* top right white */ radial-gradient(0% 0%, ellipse farthest-side, rgba(255, 255, 255, 0.35) -10%, rgba(255, 255, 255, 0) 10%), /* top left white */ radial-gradient(90% 60%, ellipse farthest-side, rgba(0, 0, 0, 0.35) -10%, rgba(0, 0, 0, 0) 100%), /* center right black */ radial-gradient(20% 10%, circle farthest-side, rgba(0, 0, 0, 0.25) -10%, rgba(0, 0, 0, 0) 20%); /* top left black */
    /*
      radial-gradient(40% 60%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%),
      radial-gradient(50% -10%,circle closest-corner, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 50%),
      radial-gradient(0% 100%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 20%),
      radial-gradient(100% 0%,ellipse farthest-side, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 20%),
      radial-gradient(1% 2%,circle farthest-side, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 20%);
    */
}

#formoid-info {
    display: block;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #c09853;
    font-size: 12px;
    max-width: 100%;
}

/*


Metro style


*/

.formoid-metro-cyan {
    /*box-shadow: 0 0 20px rgba(0,0,0,.3);*/
    font-size: 0.9em;
}

.formoid-metro-cyan,
.formoid-metro-cyan input[type=button],
.formoid-metro-cyan .btn,
.formoid-metro-cyan input[type=submit] {
    outline: none;
    border-radius: 0;
    font-family: inherit;
}

.formoid-metro-cyan > div {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}

.formoid-metro-cyan h2 {
    margin: 0.2em 0;
    font-size: 1.8em;
    font-weight: normal;
}

.formoid-metro-cyan h3.title {
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

.formoid-metro-cyan h3.section-break-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.formoid-metro-cyan label {
    display: block;
    margin-bottom: 3px;
    clear: both;
}

.formoid-metro-cyan div, .formoid-metro-cyan span, .formoid-metro-cyan label, .formoid-metro-cyan input, .formoid-metro-cyan textarea, .formoid-metro-cyan select, .formoid-metro-cyan button, .formoid-metro-cyan ul, .formoid-metro-cyan li, .formoid-metro-cyan a {
    font-family: inherit;
    color: inherit;
}

/* Global Declaration */

/*
CORE FUNCTIONALITY

Not advised to edit stuff below this line
-----------------------------------------------------
*/

/* submit + title */
.formoid-metro-cyan div.submit,
.formoid-metro-cyan div.title {
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.02);
    border-top: 1px solid #d0dada;
}

.formoid-metro-cyan div.title h2 {
    margin-left: 27px;
}

.formoid-metro-cyan div.title {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #d0dada;
}

.formoid-metro-cyan div.submit {
    vertical-align: middle;
    text-align: right;
}

/* Button & submit*/
.formoid-metro-cyan .btn,
.formoid-metro-cyan input[type=button],
.formoid-metro-cyan input[type=submit] {
    display: inline-block;
    text-align: left;
    cursor: pointer;
    background-color: #6bad49;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    height: 60px;
    width: 100%;
    margin: 25px 0 0 0;

    border: 1px solid #d6d6d6;

    border-radius: 5px;
}

.formoid-metro-cyan .btn:hover,
.formoid-metro-cyan input[type=button]:hover {
    text-decoration: none;
    box-shadow: none;
}

.formoid-metro-cyan .btn[disabled],
.formoid-metro-cyan input[type=button][disabled] {
    cursor: default;
    opacity: 0.65;
}

.formoid-metro-cyan input[type=submit] {
    font-size: 1.2em;
    text-align: center;
    color: #ffffff;
    border: none;
    right: 20px;
    padding: 0.5em 1.4em;
    margin-right: 25px;
}

.formoid-metro-cyan input[type=submit]:hover {
    opacity: 1;
    color: #ffffff;
    text-decoration: none;
    box-shadow: none;
}

.formoid-metro-cyan .btn {
    width: 100%;
    font-size: 1.1em;
}

.formoid-metro-cyan input[type=text],
.formoid-metro-cyan input[type=tel],
.formoid-metro-cyan input[type=password],
.formoid-metro-cyan input[type=email],
.formoid-metro-cyan input[type=url],
.formoid-metro-cyan input[type=date],
.formoid-metro-cyan input[type=number],
.formoid-metro-cyan textarea,
.formoid-metro-cyan .element-file .file_text,
.formoid-metro-cyan select,
.formoid-metro-cyan button {
    border: 1px solid #d6d6d6;
    background-color: #F5f5f5;
    border-radius: 0;

    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    resize: none;

    outline: medium none;
    padding: 0.4em;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.1em;
}

.formoid-metro-cyan .element-address input[type=text],
.formoid-metro-cyan .element-name input[type=text],
.formoid-metro-cyan .element-file .file_text,
.formoid-metro-cyan textarea {
    width: 100%;
    *width: 94%;
}

/* NAME last first */
.formoid-metro-cyan .element-name .nameFirst {
    width: 47%;
    *width: 39%;
    left: 0;
    display: inline-block;
    margin-right: 5%;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.formoid-metro-cyan .element-name .nameLast {
    width: 47%;
    *width: 50%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.formoid-metro-cyan .element-address label,
.formoid-metro-cyan .element-name label {
    font-size: 0.82em;
}

.formoid-metro-cyan .element-address label.title,
.formoid-metro-cyan .element-name label.title {
    font-size: 1.1em;
}

/* type number */
.formoid-metro-cyan input[type=number]::-webkit-inner-spin-button,
.formoid-metro-cyan input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@media all and (max-width: 400px) {
    .formoid-metro-cyan .element-radio .column,
    .formoid-metro-cyan .element-checkbox .column,
    .formoid-metro-cyan .element-name .nameFirst,
    .formoid-metro-cyan .element-name .nameLast,
    .formoid-metro-cyan .element-address .city,
    .formoid-metro-cyan .element-address span.state,
    .formoid-metro-cyan .element-address .zip,
    .formoid-metro-cyan .element-address .country {
        width: 100%;
        display: block;
        margin-right: 0;
    }
}

/* .formoid-metro-cyan color scheme begin */
.formoid-metro-cyan input[type=button]:hover,
.formoid-metro-cyan .btn:hover,
.formoid-metro-cyan input[type=button]:active,
.formoid-metro-cyan input[type=button][disabled],
.formoid-metro-cyan input[type=text]:hover,
.formoid-metro-cyan input[type=tel]:hover,
.formoid-metro-cyan input[type=password]:hover,
.formoid-metro-cyan input[type=email]:hover,
.formoid-metro-cyan input[type=url]:hover,
.formoid-metro-cyan input[type=date]:hover,
.formoid-metro-cyan input[type=number]:hover,
.formoid-metro-cyan textarea:hover,
.formoid-metro-cyan .element-file .file_text:hover,
.formoid-metro-cyan select:hover {
    border-color: #8dc9e5;
}

.formoid-metro-cyan input[type=button]:focus,
.formoid-metro-cyan .btn:focus,
.formoid-metro-cyan input[type=button]:active,
.formoid-metro-cyan input[type=button][disabled],
.formoid-metro-cyan input[type=text]:focus,
.formoid-metro-cyan input[type=tel]:focus,
.formoid-metro-cyan input[type=password]:focus,
.formoid-metro-cyan input[type=email]:focus,
.formoid-metro-cyan input[type=url]:focus,
.formoid-metro-cyan input[type=date]:focus,
.formoid-metro-cyan input[type=number]:focus,
.formoid-metro-cyan textarea:focus,
.formoid-metro-cyan .element-file .file_text:active,
.formoid-metro-cyan select:focus {
    border-color: #2da5da;
}

.formoid-metro-cyan .btn.btn-primary:active,
.formoid-metro-cyan .btn-group.open .btn.btn-primary.dropdown-toggle,
.formoid-metro-cyan .btn.btn-primary.active,
.formoid-metro-cyan .btn.btn-primary:focus,
.formoid-metro-cyan .dropdown-menu li.active > a:focus,
.formoid-metro-cyan .dropdown-menu li.selected > a:focus,
.formoid-metro-cyan .dropdown-menu li.active > a.highlighted:focus,
.formoid-metro-cyan .dropdown-menu li.selected > a.highlighted:focus {
    border-color: #2da5da;
}

.formoid-metro-cyan .btn {
    text-align: left;
    border: 0;
    cursor: pointer;

    width: 100%;
    height: 100%;
    padding: 7px 10px;

    outline: none;

    -webkit-transition: 0.3s;
    transition: 0.3s;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;

    border: 2px solid #e5e5e5;

    font-size: 1em;
}

.formoid-metro-cyan .btn:active,
.formoid-metro-cyan .btn-group.open .btn.dropdown-toggle,
.formoid-metro-cyan .btn.active {
    box-shadow: none;
}

.formoid-metro-cyan .btn.disabled,
.formoid-metro-cyan .btn[disabled] {
    background-color: #bdc3c7;
    color: rgba(255, 255, 255, 0.75);
    box-shadow: none;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

