{% extends "base.html" %}

{% block title %}{{ca.object_name}} just missed earth{% endblock %}
{% block content %}
<h1>"{{ca.object_name}}" just missed earth...</h1>
<div id="miss-detail-container">
  <div class="miss-attribute">Official Name:</div><div class="miss-value">{{ca.object_name}}</div>
  <div class="miss-attribute">Approach Time:</div><div class="miss-value">{{ca.approach_date}} UTC</div>
  <div class="miss-attribute">Estimated Diamater:</div><div class="miss-value">{{ca.estimated_diameter}} metres</div>
  <div class="miss-attribute">Missed by:</div><div class="miss-value">{{ca.minimum_distance_away}} kilometres</div>
  <div class="miss-attribute">Travelling at:</div><div class="miss-value">{{ca.relative_velocity}} kilometres per second</div>
</div>
{% endblock %}